@font-face {
    font-family: 'LaundryGo';
	font-style: normal;
	font-weight: 400;
    src: url('../font/TTLaundryGothicR.woff') format('woff2');
}
@font-face {
	font-family: 'LaundryGo';
	font-style: normal;
	font-weight: 700;
    src: url('../font/TTLaundryGothicB.woff2') format('woff2');
}