@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative;
    background: url(../images/main/visual_bg.jpg) no-repeat center center / cover;
    height: 100vh;
    min-height: 500px;
    color: #fff;
    padding: 620px 0 0 0;
}
.visual .wrapper {
    position: relative;
}
.visual .txt {
    position: absolute;
    left: 0;
    bottom: 15%;
}
.visual h2 {
    font-size: 70px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.visual p {
    margin: 5px 0 0 0;
}
.tech {
    height: 1000px;
    background-color: yellow;
}
.item {
    height: 1000px;
    background-color: green;
}
.guide {
    height: 1000px;
    background-color: pink;
}
.news {
    height: 1000px;
    background-color: brown;
}
footer {
    height: 1000px;
    background-color: #1d1d1d;
}