@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

/********** sec01 **********/
.sec01 {
    position: relative;
    color: #fff;
}
.sec01 .swiper-slide .photo {
    height: 100dvh;
    min-height: 600px;
    overflow: hidden;
}
.sec01 .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.sec01 .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.sec01 .swiper-slide .txt_wrap {
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 100%;
}
.sec01 .swiper-slide .txt_wrap .txt h2 {
    font-size: 70px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin-bottom: 5px;
}
.sec01 .swiper-slide .txt_wrap .txt h2 br {
    display: none;
}
.sec01 .ctrl_wrap {
    display: flex;
    position: absolute;
    left: calc(50% - 630px);
    bottom: 25%;
    z-index: 10;
    display: flex;
    gap: 5px;
}
.sec01 .ctrl_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
}
.sec01 .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 12.75L0 6.5L6.25 0.25L7.35938 1.35938L2.21875 6.5L7.35938 11.6406L6.25 12.75Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec01 .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 0.25L8 6.5L1.75 12.75L0.640625 11.6406L5.78125 6.5L0.640625 1.35937L1.75 0.25Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec01 .btn_scroll {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    animation: scroll_down 1.0s infinite linear;
    z-index: 10;
    color: #fff;
}
.sec01 .btn_scroll span {
    position: relative;
}
.sec01 .btn_scroll span::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    margin: 5px 0 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_103' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_103)'%3E%3Cpath d='M12 22L5 15L6.4 13.575L11 18.175V11H13V18.175L17.6 13.6L19 15L12 22ZM11 9V6H13V9H11ZM11 4V2H13V4H11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@keyframes scroll_down {
    0%, 100% {
        transform:translate(-50%,-50%)
    }
    50% {
        transform: translate(-50%,-80%);
    }
}
@media screen and (max-width:1300px) {
    .sec01 .ctrl_wrap {
        left: 20px;
    }
}
@media screen and (max-width:1024px) {
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 55px;
    }
    .sec01 .swiper-slide .txt_wrap .txt p {
        font-size: 16px;
    }
    .sec01 .btn_scroll span {
        font-size: 16px;
    }
    .sec01 .btn_scroll span::after {
        width: 22px;
        height: 22px;
    }
}
@media screen and (max-width:768px) {
    .sec01 .swiper-slide .photo {
        height: 800px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 55px;
    }
}
@media screen and (max-width:480px) {
    
    .sec01 .swiper-slide .photo {
        height: 600px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 40px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 br {
        display: block;
    }
    .sec01 .ctrl_wrap {
        bottom: 28%;
    }
}
.tech {
    background-color: #f7f7f7;
}
.tech .tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.tech .tit h2 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.tech .tit p {
    margin: 5px 0 0 0;
}
.tech .list {
    color: #fff;
}
.tech .list ul {
    display: flex;
    gap: 20px;
}
.tech .list ul li {
    width: 30%;
    transition: 0.7s;
}
.tech .list ul li a {
    display: block;
    position: relative;
}
.tech .list ul li a .photo {
    height: 600px;
}
.tech .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tech .list ul li a .txt {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: 0.5s;
}
.tech .list ul li a .txt h3 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    white-space: nowrap;
    transition: 0.7s;
}
.tech .list ul li a .txt p {
    display: none;
    white-space: nowrap;
}
@media screen and (min-width:1025px) {
    .tech .list ul li.over {
        width: 70%;
    }
    .tech .list ul li.over a .txt {
        left: 120px;
        bottom: 100px;
        transform: none;
    }
    .tech .list ul li.over a .txt h3 {
        font-size: 70px;
    }
    .tech .list ul li.over a .txt p {
        display: block;
    }
}
@media screen and (max-width:1300px) {
    .tech .tit {
        height: 270px;
    }
    .tech .list ul li a .photo {
        height: 400px;
    }
    .tech .list ul li.over a .txt {
        left: 80px;
        bottom: 60px;
    }
    .tech .list ul li a .txt h3 {
        font-size: 40px;
    }
    .tech .list ul li.over a .txt h3 {
        font-size: 50px;
    }
}
@media screen and (max-width:1024px) {
    .tech .tit {
        height: 200px;
    }
    .tech .tit h2 {
        font-size: 40px;
    }
    .tech .tit p {
        font-size: 16px;
    }
    .tech .list ul {
        display: block;
        gap: 0;
    }
    .tech .list ul li {
        width: 100%;
    }
    .tech .list ul li a .photo {
        height: 240px;
    }
    .tech .list ul li a .txt {
        left: 50px;
        bottom: 30px;
        transform: none;
    }
    .tech .list ul li a .txt p {
        display: block;
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    .tech .tit {
        height: 180px;
    }
    .tech .tit h2 {
        font-size: 36px;
    }
    .tech .list ul li a .photo {
        height: 200px;
    }
    .tech .list ul li a .txt {
        left: 30px;
        bottom: 20px;
    }
    .tech .list ul li a .txt h3 {
        font-size: 32px;
    }
}
@media screen and (max-width:480px) {
    .tech .tit {
        height: 160px;
    }
    .tech .tit h2 {
        font-size: 28px;
    }
    .tech .list ul li a .photo {
        height: 160px;
    }
    .tech .list ul li a .txt h3 {
        font-size: 32px;
    }
    .tech .list ul li a .txt p {
        display: none;
    }
}
.product {
    display: flex;
    justify-content: space-between;
    margin: 135px 0 0 7.81%;    
}
.product .tit h2 {
    font-size: 70px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.product .tit p {
    margin: 5px 0 0 0;
}
.product .tit .ctrl_wrap {
    margin: 20px 0 0 0;
}
.product .tit .ctrl_wrap button {
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
}
.product .tit .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 13.6663L0 6.99967L6.66667 0.333008L7.85 1.51634L2.36667 6.99967L7.85 12.483L6.66667 13.6663Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.product .tit .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 0.33366L8 7.00033L1.33333 13.667L0.15 12.4837L5.63333 7.00033L0.15 1.51699L1.33333 0.33366Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.product .list {
    width: calc(100% - 580px);
    height: 600px;
}
.product .list .swiper-slide {
    width: 400px;
}
.product .list .swiper-slide a {
    display: block;
    position: relative;
}
.product .list .swiper-slide a .photo {
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
}
.product .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .list .swiper-slide a .txt {
    position: absolute;
    left: 40px;
    bottom: 50px;
    color: #fff;
}
.product .list .swiper-slide a .txt h3 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.product .list .swiper-slide a .txt p {
    margin: 5px 0 0 0;
}







.guide {
    margin: 135px 0 0 0;
    height: 1000px;
    background-color: pink;
}
.news {
    height: 1000px;
    background-color: brown;
}
footer {
    height: 1000px;
    background-color: #1d1d1d;
}