@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.tour {
    margin: 150px 0;
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 17px 0;
}
.tour .list {
    margin: 34px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tour.acc01 .list ul li {
    /* width: 25%; */
    flex: 1 1 0%;
    transition: 0.5s;
}
.tour.acc01 .list ul li.on {
    /* width: 70%; */
    flex: 3 1 0%;
}
.tour.acc02 .list ul li {
    /* width: calc(25% - 7.5px); */
    /* (30)/4 = 18 */
    flex: 1 1 0%;
    transition: 0.5s;
}
.tour.acc02 .list ul li.on {
    flex: 3 1 0%;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 354px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 30px 44px 30px;
}
.tour .list ul li.list01 a {
    background-image: url(../images/tour01.jpg);
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour04.jpg);
}
.tour .list ul li a h3 {
    font-size: 25px;
    font-weight: 800;
}
.tour .list ul li a p {
    margin: 5px 0 0 0;
    display: none;
}

@media screen and (max-width:1024px){
    .tour {
        margin: 70px 0;
    }
    .tour .tit h2 {
        font-size: 25px;
        margin: 0 0 8px 0;
    }
    .tour .list {
        margin: 16px 0 0 0;
    }
    .tour .list ul {
        flex-direction: column;
        gap: 16px;
    }
    .tour.acc01 .list ul li {
        width: 100%;
    }
    .tour.acc01 .list ul li.on {
        width: 100%;
    }
    .tour.acc02 .list ul li {
        width: 100%;
    }
    .tour .list ul li a {
        height: 200px;
        padding: 0 20px 25px 20px;
    }
    .tour .list ul li a h3 {
        font-size: 20px;
    }
    .tour .list ul li a p {
        margin: 3px 0 0 0;
        display: block;
    }
}