body {
    font-family: 'Pretendard', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1320px;
    position: relative;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}