/* 태그 스타일의 초기화 reset */
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit; /* 브라우저에서 주는 스타일 취소 */
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em,address {
    font-style: normal; /* 글자의 기울임 취소 */
}
a {
    color: inherit; /* 글자 파란색 삭제 */
    text-decoration: none; /* 밑줄삭제 */
}
button {
    cursor: pointer; /* 마우스포인터 손바닥 */
    font-family: inherit; /* 글자의 기본 스타일을 상속 받지 않아 상속받으라고 써줌 */
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none; /* 테두리 삭제 */
    background-color: transparent; /* 배경색 투명 */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 높이/넓이를 준 경우 유지 시키는 코드 */
}
li {
    list-style: none; /* li 앞에 동그라미 삭제 */
}