@import url(default.css);
@import url(res_common.css);
@import url(font.css);

header {
    position: fixed; /* 상단고정 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: 0.5s;
}
header .wrapper {
    display: flex; /* logo, gnb, tnb 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 145px;
    height: 48px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain - 로고를 안짤리고 영역에 맞게 리사이즈 */
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차메뉴 li를 좌우로 */
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    /* 1차메뉴 a */
    display: block;
    font-size: 22px;
    font-weight: 800;
    line-height: 100px; /* header 높이와 동일 */
    color: #fff;
    padding: 0 22px;
    transition: 0.5s;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /*숨김*/
}
header .tnb .search {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3167 24.125L14.1792 15.9875C13.5333 16.5042 12.7906 16.9132 11.951 17.2146C11.1115 17.516 10.2181 17.6667 9.27083 17.6667C6.92431 17.6667 4.93837 16.854 3.31302 15.2286C1.68767 13.6033 0.875 11.6174 0.875 9.27083C0.875 6.92431 1.68767 4.93837 3.31302 3.31302C4.93837 1.68767 6.92431 0.875 9.27083 0.875C11.6174 0.875 13.6033 1.68767 15.2286 3.31302C16.854 4.93837 17.6667 6.92431 17.6667 9.27083C17.6667 10.2181 17.516 11.1115 17.2146 11.951C16.9132 12.7906 16.5042 13.5333 15.9875 14.1792L24.125 22.3167L22.3167 24.125ZM9.27083 15.0833C10.8854 15.0833 12.2578 14.5182 13.388 13.388C14.5182 12.2578 15.0833 10.8854 15.0833 9.27083C15.0833 7.65625 14.5182 6.28385 13.388 5.15365C12.2578 4.02344 10.8854 3.45833 9.27083 3.45833C7.65625 3.45833 6.28385 4.02344 5.15365 5.15365C4.02344 6.28385 3.45833 7.65625 3.45833 9.27083C3.45833 10.8854 4.02344 12.2578 5.15365 13.388C6.28385 14.5182 7.65625 15.0833 9.27083 15.0833Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
/********** header가 고정되었을때 ***************/
header.fixed {
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
    /*
        background로 선언하고 배경이미지, 반복, 위치, 크기를 
        지정했는데 이때 이미지만 변경하려만 
        반드시 background-image 라고 속성을 쓰고  변경해야함
        background라고 하면 모든 반복,위치, 크기등의 다른 속성이 취소됨..
    */
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
}
header.fixed .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3167 24.125L14.1792 15.9875C13.5333 16.5042 12.7906 16.9132 11.951 17.2146C11.1115 17.516 10.2181 17.6667 9.27083 17.6667C6.92431 17.6667 4.93837 16.854 3.31302 15.2286C1.68767 13.6033 0.875 11.6174 0.875 9.27083C0.875 6.92431 1.68767 4.93837 3.31302 3.31302C4.93837 1.68767 6.92431 0.875 9.27083 0.875C11.6174 0.875 13.6033 1.68767 15.2286 3.31302C16.854 4.93837 17.6667 6.92431 17.6667 9.27083C17.6667 10.2181 17.516 11.1115 17.2146 11.951C16.9132 12.7906 16.5042 13.5333 15.9875 14.1792L24.125 22.3167L22.3167 24.125ZM9.27083 15.0833C10.8854 15.0833 12.2578 14.5182 13.388 13.388C14.5182 12.2578 15.0833 10.8854 15.0833 9.27083C15.0833 7.65625 14.5182 6.28385 13.388 5.15365C12.2578 4.02344 10.8854 3.45833 9.27083 3.45833C7.65625 3.45833 6.28385 4.02344 5.15365 5.15365C4.02344 6.28385 3.45833 7.65625 3.45833 9.27083C3.45833 10.8854 4.02344 12.2578 5.15365 13.388C6.28385 14.5182 7.65625 15.0833 9.27083 15.0833Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            header {
                height: 56px;
            }
            header .wrapper {
                margin-right: 0;
                /* 오른쪽 여백 삭제 - gnb_open 배치하려고 */
            }
            header .logo a {
                width: 91px;
                height: 30px;
            }
            header .gnb .gnb_open {
                display: block; /* 모바일에서만 나옴 */
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625 2.45833V0.0416679H22.375V2.45833H0.625ZM0.625 16.9583V14.5417H22.375V16.9583H0.625ZM0.625 9.70833V7.29167H22.375V9.70833H0.625Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김 */
            }
            header .tnb {
                display: none; /* 숨김 */
            }
            /********** header가 고정되었을때 ***************/
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.625 2.45833V0.0416679H22.375V2.45833H0.625ZM0.625 16.9583V14.5417H22.375V16.9583H0.625ZM0.625 9.70833V7.29167H22.375V9.70833H0.625Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
}/* @media */

.visual {
    height: 100vh; /* 브라우저 높이 */
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    color: #fff;
    border: 1px solid transparent; 
    /* 투명한 1px border - margin이 영역 밖으로 못나게 하는 방법 */
}
.visual h2 {
    margin: 55vh 0 0 0;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}
@media screen and (max-width:640px){ 
    .visual h2 {
        margin: 57vh 0 0 0;
        transform: translateY(-50%);
        /* 나의 높이 절반을 위로 이동 */
        font-size: 30px;
        text-align: center;
    }
}/*@media*/

footer {
    margin: 3000px 0 0 0;
}