@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.5;
    word-break: keep-all;
    color: #555555;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.esg {
    height: 810px;
    background-image: url(../images/esg_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
}
.esg h1 {
    padding: 250px 0 0 0;
}
.esg .sub_tit {
    margin: 35px 0 35px 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.08em;
    line-height: 1.3;
}
.esg .more a {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.int {
    margin: 250px 0 0 0;
}
.int h1 {
    color: #002f87;
}
.int .sub_tit {
    margin: 35px 0 35px 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.08em;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 35px 0 35px 0;
}
.int ul {
    margin: 40px 0 0 0;
}
.int ul li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
    font-size: 23px;
}
.int ul li strong {
    font-weight: 700;
    color: #1d1d1d;
}
.mission {
    margin: 250px 0 250px 0;
}
.mission .inner {
    height: 500px;
    padding: 100px 0 0 50px;
    background-image: url(../images/mission_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
}
.mission .sub_tit {
    margin: 35px 0 35px 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.08em;
    line-height: 1.3;
}
.mission .cnt {
    color: rgba(255,255,255,0.8);
}