@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #555555;
    line-height: 1.51;
    word-break: keep-all; /* 단어로 줄바꿈 */
    letter-spacing: -0.01em;
}

/* START :: 태그 스타일의 초기화 (브라우저가 준 스타일 삭제) */
* {
    margin: 0; /* 브라우저가 기본으로 주는 여백 삭제 */
    padding: 0;
    box-sizing: border-box;
    /* width/height와 padding을 같이주면 사이즈가 늘어남 - 이 현상을 막는 속성 */
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit; 
    font-weight: inherit;
    /* inherit가 브라우저가 주는 값 말고 내가 선언한 값만 상속받아 */
}
strong {
    font-weight: inherit;
}
li {
    list-style: none; /* li 앞에 동그라미 삭제 */
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄삭제 */
}
/* END :: 태그 스타일의 초기화 */

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

.esg {
    background-image: url(../images/esg_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /*배경꽉채우기*/
    height: 843px;
    color: #fff;
}
.esg h1 {
    padding: 251px 0 0 0;
}
.esg .sub_tit,
.int .sub_tit,
.mission .sub_tit {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.035em; /* -30정도 */
    margin: 33px 0 35px 0;
}
.esg .more a {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 7px 36px 7px 36px;
    display: inline-block;
}
.int {
    margin: 223px 0 0 0;
}
.int h1 {
    color: #002f87;
}
.int .sub_tit {
    color: #1d1d1d;
    margin: 33px 0 50px 0;
}
.int ul {
    margin: 84px 0 0 0;
}
.int ul li {
    font-size: 23px;
    border-bottom: 1px solid #ccc;
    padding: 22px 0 17px 0;
}
.int ul li strong {
    font-weight: 700;
    color: #1d1d1d;
}
.mission {
    margin: 127px 0 200px 0;
}
.mission .inner {
    background-image: url(../images/mission_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 520px;
    color: #fff;
    padding: 98px 0 0 48px;
}
.mission .cnt {
    color: rgba(255,255,255,0.8); /* opacity 80% */
}
section {
    border-color: #002f87;
    background-color: #002f87;
}
h2 {
    border: dsfsdfsdfd;
}