@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    word-break: keep-all;
}
/* START :: 태그의 기본 스타일 삭제(초기화) */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /*브라우저가 주는 값 무시*/
    font-weight: inherit;
}
li {
    list-style: none; /* 앞에 동그라미 삭제 */
}
* { /* * 와일드카드로 모든 태그를 의미 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
/* END :: 태그의 기본 스타일 삭제(초기화) */
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.color {
    margin: 185px 0 0 0;
}
.color .tit h1 {
    font-size: 50px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -2px;
    margin: 0 0 19px 0;
}
.color .list {
    margin: 60px 0 0 0;
}
.color .list ul {
    display: flex;
    /* ul 바로 하위 태그 li만 좌우로 배치 */
    justify-content: space-between;
}
.color .list ul li {
    width: 297px;
}
.color .list ul li h2 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -1px;
    height: 257px;
    color: #fff;
    border-radius: 10px;
    padding: 35px 0 0 30px;
}
/*  li.item1 (공백없음) li태그들 중에서 item1이라는 클래스명을 갖은 요소 */
.color .list ul li.item1 h2 {
    background-color: #00ad1d;
}
.color .list ul li.item2 h2 {
    background-color: #008233;
}
.color .list ul li.item3 h2 {
    background-color: #003087;
}
.color .list ul li.item4 h2 {
    background-color: #002554;
}
.color .list ul li p {
    margin: 20px 0 0 10px;
}

.int {
    margin: 198px 0 0 0;
}
.int .wrapper {
    display: flex;
    /* wrapper 넓이 안에 .. h1과 inner를 좌우로 배치 */
    justify-content: space-between;
}
.int .inner {
    width: 725px;
}
.int h1, 
.int .tit .sub_tit {
    font-size: 50px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -2px;
}
.int .tit .sub_tit {
    margin: 0 0 30px 0;
}
.int .list {
    margin: 45px 0 0 0;
}
.int .list ul li {
    border-bottom: 1px solid #ededed;
    padding: 22px 0 22px 0;
    display: flex;
    /* 두개 이상의 태그가 좌우로 나란히 들어가면 
       무조건 display:flex;를 줘서 좌우로 배치 */
}
/* li중에서 첫번째 li에만 상단에 선 추가 */
.int .list ul li:first-child {
    border-top: 1px solid #ededed;
}
.int .list ul li strong {
    width: 175px;
    display: block;
    font-weight: 800;
    color: #1d1d1d;
}

.btn {
    margin: 265px 0 0 0;
}
.btn h1 {
    font-size: 50px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -2px;
}
.btn .btn_wrap {
    margin: 45px 0 0 0;
    display: flex;
    gap: 10px;
}
.btn .btn_wrap a {
    color: #fff;
    display: block; /* a에 항상 주기 */
    padding: 8px 25px 8px 25px;
}
.btn .btn_wrap a.all {
    background-color: #3d3d3d;
}
.btn .btn_wrap a.ok {
    background-color: #00a60c;
}
.btn .btn_wrap a.cancel {
    background-color: #f91e4d;
}

body {
    margin: 0 0 400px 0;
}