@import url(common.css);
@import url(default.css);
@import url(font.css);
.section_tit {
    font-family: "Gmarket Sans";
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
}
@media screen and (max-width:640px) {
    .section_tit {
        font-size: 24px;
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    /* 상단에 배치 */
    z-index: 100;
}
header .wrapper {
    /* logo, gnb, tnb 좌우로 배치한다. */
    display: flex;
    /* 좌우 끝으로 정렬한다. */
    justify-content: space-between;
    /* 위아래 가운데로 정렬한다. */
    align-items: center;
}
header .gnb_open,
header .gnb_close {
    /* 모바일에서만 보인다. */
    display: none;
}
header .gnb .gnb_wrap ul {
    /* li를 좌우로 배치한다. */
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    padding: 0 28px;
    font-family: "Gmarket Sans";
    font-size: 22px;
    font-weight: 700;
    /* 
        header의 높이만큼 행간을 준다.
        글자의 높이가 header와 같아지고, 위 아래 가운데 정렬로 글자가 들어간다.
        하위 메뉴를 열기 위한 값이다.
    */
    line-height: 100px;
    letter-spacing: -0.05em;
}
header .tnb {
    /* mypage, lang 좌우로 배치한다. */
    display: flex;
}
header .tnb .mypage {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.85 15.1C4.7 14.45 5.65 13.9375 6.7 13.5625C7.75 13.1875 8.85 13 10 13C11.15 13 12.25 13.1875 13.3 13.5625C14.35 13.9375 15.3 14.45 16.15 15.1C16.7333 14.4167 17.1875 13.6417 17.5125 12.775C17.8375 11.9083 18 10.9833 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 10.9833 2.1625 11.9083 2.4875 12.775C2.8125 13.6417 3.26667 14.4167 3.85 15.1ZM10 11C9.01667 11 8.1875 10.6625 7.5125 9.9875C6.8375 9.3125 6.5 8.48333 6.5 7.5C6.5 6.51667 6.8375 5.6875 7.5125 5.0125C8.1875 4.3375 9.01667 4 10 4C10.9833 4 11.8125 4.3375 12.4875 5.0125C13.1625 5.6875 13.5 6.51667 13.5 7.5C13.5 8.48333 13.1625 9.3125 12.4875 9.9875C11.8125 10.6625 10.9833 11 10 11ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C10.8833 18 11.7167 17.8708 12.5 17.6125C13.2833 17.3542 14 16.9833 14.65 16.5C14 16.0167 13.2833 15.6458 12.5 15.3875C11.7167 15.1292 10.8833 15 10 15C9.11667 15 8.28333 15.1292 7.5 15.3875C6.71667 15.6458 6 16.0167 5.35 16.5C6 16.9833 6.71667 17.3542 7.5 17.6125C8.28333 17.8708 9.11667 18 10 18ZM10 9C10.4333 9 10.7917 8.85833 11.075 8.575C11.3583 8.29167 11.5 7.93333 11.5 7.5C11.5 7.06667 11.3583 6.70833 11.075 6.425C10.7917 6.14167 10.4333 6 10 6C9.56667 6 9.20833 6.14167 8.925 6.425C8.64167 6.70833 8.5 7.06667 8.5 7.5C8.5 7.93333 8.64167 8.29167 8.925 8.575C9.20833 8.85833 9.56667 9 10 9Z' fill='white'/%3E%3C/svg%3E%0A");
    /* 넓이, 높이는 비율에 맞게 알아서 들어간다. */
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' fill='white'/%3E%3C/svg%3E%0A");
    /* 넓이, 높이는 비율에 맞게 알아서 들어간다. */
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:640px) {
    header {
        height: 60px;
    }
    header .wrapper {
        /* 오른쪽 여백만 삭제 */
        margin-right: 0;
    }
    header .logo a img {
        width: 88px;
    }
    header .gnb .gnb_open {
        /* none으로 숨김요소를 다른 속성만 주면 나타난다. */
        display: block;
        width: 60px;
        height: 60px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2V0.5H17.5V2H0.5ZM0.5 13.5V12H17.5V13.5H0.5ZM0.5 7.75V6.25H17.5V7.75H0.5Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .tnb {
        display: none;
    }
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    text-align: right;
    color: #fff;
}
.visual h2 {
    padding: 604px 0 0 0;
}
.visual p {
    margin: 17px 0 0 0;
    color: #fff;
}
@media screen and (max-width:640px) {
    .visual {
        /* 콘텐츠 길이만큼 늘어난다. */
        height: auto;
        padding: 0 0 85px 0;
        text-align: left;
    }
    .visual h2 {
        font-size: 16px;
        padding: 255px 0 0 0;
    }
    .visual p {
        font-size: 32px;
        margin: 16px 0 0 0;
    }
}
.project {
    margin: 145px 0 0 0;
}
.project .wrapper {
    /* tit, list 좌우로 배치한다. */
    display: flex;
    justify-content: space-between;
    /* tit의 길이를 존재하는 만큼만 준다 */
    align-items: flex-start;
}
.project .tit {
    /* 
        감싸는 wrapper를 기준으로 정렬한다.
        감싸는 요소 중에 단 하나라도 overflow:hidden 값을 가지고 있으면 적용되지 않는다.
        사실상 못쓴다고 생각하면 된다.
    */
    position: sticky;
    /* 좌우 정렬 값은 주면 안된다. */
    top: 20px;
}
.project .tit h2 {
    color: #395886;
    margin: 0 0 17px 0;
}
.project .list {
    /* 618 / 1260 * 100 */
    width: 49.04%;
    margin: 147px 0 0 0;
}
.project .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.project .list ul li {
    /* 
        100% / 한줄에 보일 li의 개수 = 50% 
        한 줄에 있는 여백의 총합 / 한 줄에 보일 li의 개수 = 24px / 2 = 12px
    */
    width: calc(50% - 12px);
}
/* odd - 홀수, even - 짝수 */
.project .list ul li:nth-child(even) {
    transform: translateY(-150px);
}
.project .list ul li a {
    display: block;
    /* txt 정렬의 기준이다. */
    position: relative;
}
.project .list ul li a .photo {
    /* photo::before 정렬의 기준이다. */
    position: relative;
    overflow: hidden;
    height: 450px;
    border-radius: 20px;
}
.project .list ul li a .photo::before {
    content: "";
    /* photo를 기준으로 정렬한다. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #395886;
    opacity: 0;
    transition: 0.5s;
}
.project .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt {
    /* a를 기준으로 정렬한다 */
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    color: #fff;
}
.project .list ul li a .txt h3 {
    font-family: "Gmarket Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.project .list ul li a .txt p {
    display: none;
    margin: 10px 0;
    color: rgba(255,255,255,0.8);
}
.project .list ul li a .txt span {
    /* 태그가 존재하지 않는 것처럼 코딩되어 숨겨진다. */
    display: none;
    color: rgba(255,255,255,0.6);
    padding: 0 22px 0 0;
    /* after 정렬의 기준 */
    position: relative;
}
.project .list ul li a .txt span::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.45863 4.56311H0.9375C0.777875 4.56311 0.64425 4.50923 0.536625 4.40148C0.428875 4.29386 0.375 4.16023 0.375 4.00061C0.375 3.84098 0.428875 3.70736 0.536625 3.59973C0.64425 3.49198 0.777875 3.43811 0.9375 3.43811H9.45863L6.98944 0.968922C6.87794 0.857297 6.82288 0.726734 6.82425 0.577234C6.82575 0.427734 6.88081 0.294798 6.98944 0.178423C7.10581 0.0621726 7.23944 0.00210918 7.39031 -0.00176582C7.54131 -0.00564082 7.675 0.0506092 7.79137 0.166984L11.1504 3.52605C11.2207 3.5963 11.2702 3.67036 11.2989 3.74823C11.3278 3.82611 11.3422 3.91023 11.3422 4.00061C11.3422 4.09098 11.3278 4.17511 11.2989 4.25298C11.2702 4.33086 11.2207 4.40492 11.1504 4.47517L7.79137 7.83423C7.67975 7.94573 7.54731 8.0008 7.39406 7.99942C7.24069 7.99792 7.10581 7.93905 6.98944 7.8228C6.88081 7.70642 6.82456 7.57467 6.82069 7.42755C6.81681 7.28042 6.87306 7.14867 6.98944 7.0323L9.45863 4.56311Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
/******************** 오버할 경우 ********************/
@media screen and (min-width:641px) {
    .project .list ul li a:hover .photo::before {
        opacity: 0.9;
    }
    .project .list ul li a:hover .txt p {
        display: block;
    }
    .project .list ul li a:hover .txt span {
        /* none으로 숨긴 요소는 보통 block으로 보이게 한다. */
        display: inline-block;
    }
}
@media screen and (max-width:640px) {
    .project {
        margin: 84px 0 0 0;
    }
    .project .wrapper {
        /* flex 해제, display 다른 속성 값을 주면 해제된다. */
        display: block;
    }
    .project .tit {
        /* sticky를 해제하기 위한 값이다. */
        position: relative;
        /* top 값을 지정하지 않은 것처럼 취소하는 값이다. 0은 아니다. */
        top: auto;
    }
    .project .tit h2 {
        margin: 0 0 5px 0;
    }
    .project .list {
        /* block 요소이기 때문에 100%가 들어간다. */
        width: auto;
        margin: 25px 0 0 0;
    }
    .project .list ul {
        /* 위아래, 좌우 */
        gap: 10px 18px;
    }
    .project .list ul li {
        /* 
            100% / 한줄에 보일 li의 개수 = 50% 
            한 줄에 있는 여백의 총합 / 한 줄에 보일 li의 개수 = 18px / 2 = 9px
        */
        width: calc(50% - 9px);
    }
    /* odd - 홀수, even - 짝수 */
    .project .list ul li:nth-child(even) {
        /* 오른쪽 올린거 취소 */
        transform: none;
    }
    .project .list ul li a .photo {
        height: 152px;
        border-radius: 5px;
    }
    .project .list ul li a .txt {
        /* absolute 해제 */
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        padding: 10px 0 0 0;
        color: #1d1d1d;
    }
    .project .list ul li a .txt h3 {
        font-size: 16px;
        font-weight: 500;
    }
    .project .list ul li a .txt h3 br {
        display: none;
    }
    .project .list ul li a .txt p {
        display: none;
        margin: 10px 0;
        color: rgba(255,255,255,0.8);
    }
    .project .list ul li a .txt span {
        /* 태그가 존재하지 않는 것처럼 코딩되어 숨겨진다. */
        display: none;
        color: rgba(255,255,255,0.6);
        padding: 0 22px 0 0;
        /* after 정렬의 기준 */
        position: relative;
    }
    .project .list ul li a .txt span::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 0;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.45863 4.56311H0.9375C0.777875 4.56311 0.64425 4.50923 0.536625 4.40148C0.428875 4.29386 0.375 4.16023 0.375 4.00061C0.375 3.84098 0.428875 3.70736 0.536625 3.59973C0.64425 3.49198 0.777875 3.43811 0.9375 3.43811H9.45863L6.98944 0.968922C6.87794 0.857297 6.82288 0.726734 6.82425 0.577234C6.82575 0.427734 6.88081 0.294798 6.98944 0.178423C7.10581 0.0621726 7.23944 0.00210918 7.39031 -0.00176582C7.54131 -0.00564082 7.675 0.0506092 7.79137 0.166984L11.1504 3.52605C11.2207 3.5963 11.2702 3.67036 11.2989 3.74823C11.3278 3.82611 11.3422 3.91023 11.3422 4.00061C11.3422 4.09098 11.3278 4.17511 11.2989 4.25298C11.2702 4.33086 11.2207 4.40492 11.1504 4.47517L7.79137 7.83423C7.67975 7.94573 7.54731 8.0008 7.39406 7.99942C7.24069 7.99792 7.10581 7.93905 6.98944 7.8228C6.88081 7.70642 6.82456 7.57467 6.82069 7.42755C6.81681 7.28042 6.87306 7.14867 6.98944 7.0323L9.45863 4.56311Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }
    /******************** 오버할 경우 ********************/
    .project .list ul li a:hover .photo::before {
        opacity: 0.9;
    }
    .project .list ul li a:hover .txt p {
        display: block;
    }
    .project .list ul li a:hover .txt span {
        /* none으로 숨긴 요소는 보통 block으로 보이게 한다. */
        display: inline-block;
    }
}














footer {
    margin: 1000px 0 0 0;
}