* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
em,address {
    font-style: normal;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}