@import url(font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
    color: #555555;
}
h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    font-weight: inherit;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.page1 {
    margin: 120px 0 100px 0;
    background-color: #fff;
}
.page1 .tit {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.page1 .sub_tit {
    color: #00b900;
    margin: 30px 0 0 0;
}
.page1 p {
    margin: 17px 0 0 0;
}
.page1 .btn {
    display: inline-block;
    margin: 35px 0 0 0;
    padding: 10px 30px 10px 30px;
    border: 1px solid #00b900;
    color: #00b900;
}
.page1 .img {
    margin: 40px 0 0 0;
}
.page2 {
    height: 700px;
    background-image: url(../images/bg_img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.page2 .tit {
    padding: 125px 0 0 0;
    font-size: 40px;
    font-weight: 700;
}
.page2 .tit {
    margin: 30px 0 0 0;
}
.page2 p {
    margin: 30px 0 0 0;
}
.page2 .btn {
    display: inline-block;
    margin: 35px 0 0 0;
    padding: 10px 30px 10px 30px;
    border: 1px solid #fff;
}
.page2 .img {
    margin: 40px 0 0 0;
}