/* header와 footer 같이 모든 페이지 공통사항 저장 */

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    display: flex; /* logo, gnb, util 좌우 */
    justify-content: space-between;
    align-items: center;
    color: #fff;

    transition: top 0.5s;
}
header .logo {
    margin-bottom: 20px;
}
header .logo a {
    display: block;
    width: 6.29em; /* 107/17 */
    height: 2.12em;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

header .util {
    display: flex;
    gap: 1em;
}
header .util .lang .lang_open,
header .util .search .search_open {
    padding: 0 0 0 1.12em;
    position: relative; /* before 정렬의 기준 */
}
header .util .search .search_open {
    padding-left: 1.05em;
}
header .util .lang .lang_open::before,
header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.17em;
    width: 0.82em;
    height: 0.82em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50004 13.7298C6.57744 13.7298 5.70678 13.553 4.88806 13.1993C4.06935 12.8456 3.35535 12.364 2.74606 11.7546C2.13666 11.1453 1.65511 10.4313 1.30142 9.61263C0.947721 8.79391 0.770874 7.92325 0.770874 7.00065C0.770874 6.07073 0.947721 5.19824 1.30142 4.38318C1.65511 3.56813 2.13666 2.85596 2.74606 2.24667C3.35535 1.63727 4.06935 1.15572 4.88806 0.802026C5.70678 0.448332 6.57744 0.271484 7.50004 0.271484C8.42996 0.271484 9.30245 0.448332 10.1175 0.802026C10.9326 1.15572 11.6447 1.63727 12.254 2.24667C12.8634 2.85596 13.345 3.56813 13.6987 4.38318C14.0524 5.19824 14.2292 6.07073 14.2292 7.00065C14.2292 7.92325 14.0524 8.79391 13.6987 9.61263C13.345 10.4313 12.8634 11.1453 12.254 11.7546C11.6447 12.364 10.9326 12.8456 10.1175 13.1993C9.30245 13.553 8.42996 13.7298 7.50004 13.7298ZM7.50004 12.6523C7.86153 12.1728 8.16576 11.6893 8.41273 11.2016C8.6597 10.7139 8.86087 10.1808 9.01623 9.60236H5.98385C6.1483 10.199 6.35177 10.7412 6.59426 11.2289C6.83663 11.7166 7.13855 12.191 7.50004 12.6523ZM6.12835 12.4575C5.85683 12.0679 5.61298 11.625 5.39682 11.1288C5.18066 10.6325 5.01267 10.1237 4.89284 9.60236H2.49C2.86412 10.338 3.36585 10.956 3.99521 11.4564C4.62456 11.9567 5.33561 12.2904 6.12835 12.4575ZM8.87173 12.4575C9.66447 12.2904 10.3755 11.9567 11.0049 11.4564C11.6342 10.956 12.136 10.338 12.5101 9.60236H10.1072C9.96463 10.1282 9.78524 10.6392 9.56908 11.1355C9.35304 11.6319 9.12059 12.0725 8.87173 12.4575ZM2.04446 8.53986H4.67769C4.63318 8.2766 4.60089 8.01847 4.58082 7.76547C4.56087 7.5126 4.55089 7.25766 4.55089 7.00065C4.55089 6.74364 4.56087 6.4887 4.58082 6.23583C4.60089 5.98283 4.63318 5.72471 4.67769 5.46144H2.04446C1.97634 5.70204 1.92416 5.9522 1.88792 6.21192C1.85155 6.47164 1.83337 6.73455 1.83337 7.00065C1.83337 7.26675 1.85155 7.52966 1.88792 7.78938C1.92416 8.0491 1.97634 8.29926 2.04446 8.53986ZM5.74001 8.53986H9.26007C9.30446 8.2766 9.33669 8.02077 9.35676 7.77238C9.37671 7.52399 9.38669 7.26675 9.38669 7.00065C9.38669 6.73455 9.37671 6.47731 9.35676 6.22892C9.33669 5.98053 9.30446 5.72471 9.26007 5.46144H5.74001C5.69562 5.72471 5.66339 5.98053 5.64332 6.22892C5.62337 6.47731 5.61339 6.73455 5.61339 7.00065C5.61339 7.26675 5.62337 7.52399 5.64332 7.77238C5.66339 8.02077 5.69562 8.2766 5.74001 8.53986ZM10.3224 8.53986H12.9556C13.0237 8.29926 13.0759 8.0491 13.1122 7.78938C13.1485 7.52966 13.1667 7.26675 13.1667 7.00065C13.1667 6.73455 13.1485 6.47164 13.1122 6.21192C13.0759 5.9522 13.0237 5.70204 12.9556 5.46144H10.3224C10.3669 5.72471 10.3992 5.98283 10.4193 6.23583C10.4392 6.4887 10.4492 6.74364 10.4492 7.00065C10.4492 7.25766 10.4392 7.5126 10.4193 7.76547C10.3992 8.01847 10.3669 8.2766 10.3224 8.53986ZM10.1072 4.39894H12.5101C12.1315 3.65425 11.6332 3.03623 11.0151 2.54488C10.3971 2.05365 9.68265 1.71767 8.87173 1.53692C9.14326 1.94917 9.3848 2.40008 9.59635 2.88966C9.80803 3.37912 9.97832 3.88221 10.1072 4.39894ZM5.98385 4.39894H9.01623C8.85178 3.80678 8.64494 3.26118 8.39573 2.76216C8.1464 2.26314 7.84783 1.7921 7.50004 1.34904C7.15225 1.7921 6.85369 2.26314 6.60435 2.76216C6.35514 3.26118 6.1483 3.80678 5.98385 4.39894ZM2.49 4.39894H4.89284C5.02176 3.88221 5.19205 3.37912 5.40373 2.88966C5.61528 2.40008 5.85683 1.94917 6.12835 1.53692C5.31283 1.71767 4.59723 2.05483 3.98157 2.54842C3.36579 3.04189 2.8686 3.65873 2.49 4.39894Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open::before {
    width: 0.76em;
    height: 0.76em;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8833 12.875L7.42083 8.4125C7.06667 8.69583 6.65937 8.92014 6.19896 9.08542C5.73854 9.25069 5.24861 9.33333 4.72917 9.33333C3.44236 9.33333 2.3533 8.88767 1.46198 7.99635C0.57066 7.10503 0.125 6.01597 0.125 4.72917C0.125 3.44236 0.57066 2.3533 1.46198 1.46198C2.3533 0.57066 3.44236 0.125 4.72917 0.125C6.01597 0.125 7.10503 0.57066 7.99635 1.46198C8.88767 2.3533 9.33333 3.44236 9.33333 4.72917C9.33333 5.24861 9.25069 5.73854 9.08542 6.19896C8.92014 6.65937 8.69583 7.06667 8.4125 7.42083L12.875 11.8833L11.8833 12.875ZM4.72917 7.91667C5.61458 7.91667 6.36719 7.60677 6.98698 6.98698C7.60677 6.36719 7.91667 5.61458 7.91667 4.72917C7.91667 3.84375 7.60677 3.09115 6.98698 2.47135C6.36719 1.85156 5.61458 1.54167 4.72917 1.54167C3.84375 1.54167 3.09115 1.85156 2.47135 2.47135C1.85156 3.09115 1.54167 3.84375 1.54167 4.72917C1.54167 5.61458 1.85156 6.36719 2.47135 6.98698C3.09115 7.60677 3.84375 7.91667 4.72917 7.91667Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .lang .lang_open::after,
header .util .search .search_open::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.2em;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
}

/*************** 아래로 스크롤 내릴때 header가 사라짐 ***********************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}
/*************** header에 fixed 클래스 추가 ***********************/
header.fixed,
header.menu_over  {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);
}
header.fixed .logo a,
header.menu_over .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open,
header.fixed .util .search .search_open,
header.menu_over .util .lang .lang_open,
header.menu_over .util .search .search_open {
    color: var(--base-color);
}
header.fixed .util .lang .lang_open::before,
header.fixed .util .search .search_open::before,
header.menu_over .util .lang .lang_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50004 13.7298C6.57744 13.7298 5.70678 13.553 4.88806 13.1993C4.06935 12.8456 3.35535 12.364 2.74606 11.7546C2.13666 11.1453 1.65511 10.4313 1.30142 9.61263C0.947721 8.79391 0.770874 7.92325 0.770874 7.00065C0.770874 6.07073 0.947721 5.19824 1.30142 4.38318C1.65511 3.56813 2.13666 2.85596 2.74606 2.24667C3.35535 1.63727 4.06935 1.15572 4.88806 0.802026C5.70678 0.448332 6.57744 0.271484 7.50004 0.271484C8.42996 0.271484 9.30245 0.448332 10.1175 0.802026C10.9326 1.15572 11.6447 1.63727 12.254 2.24667C12.8634 2.85596 13.345 3.56813 13.6987 4.38318C14.0524 5.19824 14.2292 6.07073 14.2292 7.00065C14.2292 7.92325 14.0524 8.79391 13.6987 9.61263C13.345 10.4313 12.8634 11.1453 12.254 11.7546C11.6447 12.364 10.9326 12.8456 10.1175 13.1993C9.30245 13.553 8.42996 13.7298 7.50004 13.7298ZM7.50004 12.6523C7.86153 12.1728 8.16576 11.6893 8.41273 11.2016C8.6597 10.7139 8.86087 10.1808 9.01623 9.60236H5.98385C6.1483 10.199 6.35177 10.7412 6.59426 11.2289C6.83663 11.7166 7.13855 12.191 7.50004 12.6523ZM6.12835 12.4575C5.85683 12.0679 5.61298 11.625 5.39682 11.1288C5.18066 10.6325 5.01267 10.1237 4.89284 9.60236H2.49C2.86412 10.338 3.36585 10.956 3.99521 11.4564C4.62456 11.9567 5.33561 12.2904 6.12835 12.4575ZM8.87173 12.4575C9.66447 12.2904 10.3755 11.9567 11.0049 11.4564C11.6342 10.956 12.136 10.338 12.5101 9.60236H10.1072C9.96463 10.1282 9.78524 10.6392 9.56908 11.1355C9.35304 11.6319 9.12059 12.0725 8.87173 12.4575ZM2.04446 8.53986H4.67769C4.63318 8.2766 4.60089 8.01847 4.58082 7.76547C4.56087 7.5126 4.55089 7.25766 4.55089 7.00065C4.55089 6.74364 4.56087 6.4887 4.58082 6.23583C4.60089 5.98283 4.63318 5.72471 4.67769 5.46144H2.04446C1.97634 5.70204 1.92416 5.9522 1.88792 6.21192C1.85155 6.47164 1.83337 6.73455 1.83337 7.00065C1.83337 7.26675 1.85155 7.52966 1.88792 7.78938C1.92416 8.0491 1.97634 8.29926 2.04446 8.53986ZM5.74001 8.53986H9.26007C9.30446 8.2766 9.33669 8.02077 9.35676 7.77238C9.37671 7.52399 9.38669 7.26675 9.38669 7.00065C9.38669 6.73455 9.37671 6.47731 9.35676 6.22892C9.33669 5.98053 9.30446 5.72471 9.26007 5.46144H5.74001C5.69562 5.72471 5.66339 5.98053 5.64332 6.22892C5.62337 6.47731 5.61339 6.73455 5.61339 7.00065C5.61339 7.26675 5.62337 7.52399 5.64332 7.77238C5.66339 8.02077 5.69562 8.2766 5.74001 8.53986ZM10.3224 8.53986H12.9556C13.0237 8.29926 13.0759 8.0491 13.1122 7.78938C13.1485 7.52966 13.1667 7.26675 13.1667 7.00065C13.1667 6.73455 13.1485 6.47164 13.1122 6.21192C13.0759 5.9522 13.0237 5.70204 12.9556 5.46144H10.3224C10.3669 5.72471 10.3992 5.98283 10.4193 6.23583C10.4392 6.4887 10.4492 6.74364 10.4492 7.00065C10.4492 7.25766 10.4392 7.5126 10.4193 7.76547C10.3992 8.01847 10.3669 8.2766 10.3224 8.53986ZM10.1072 4.39894H12.5101C12.1315 3.65425 11.6332 3.03623 11.0151 2.54488C10.3971 2.05365 9.68265 1.71767 8.87173 1.53692C9.14326 1.94917 9.3848 2.40008 9.59635 2.88966C9.80803 3.37912 9.97832 3.88221 10.1072 4.39894ZM5.98385 4.39894H9.01623C8.85178 3.80678 8.64494 3.26118 8.39573 2.76216C8.1464 2.26314 7.84783 1.7921 7.50004 1.34904C7.15225 1.7921 6.85369 2.26314 6.60435 2.76216C6.35514 3.26118 6.1483 3.80678 5.98385 4.39894ZM2.49 4.39894H4.89284C5.02176 3.88221 5.19205 3.37912 5.40373 2.88966C5.61528 2.40008 5.85683 1.94917 6.12835 1.53692C5.31283 1.71767 4.59723 2.05483 3.98157 2.54842C3.36579 3.04189 2.8686 3.65873 2.49 4.39894Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8833 12.875L7.42083 8.4125C7.06667 8.69583 6.65937 8.92014 6.19896 9.08542C5.73854 9.25069 5.24861 9.33333 4.72917 9.33333C3.44236 9.33333 2.3533 8.88767 1.46198 7.99635C0.57066 7.10503 0.125 6.01597 0.125 4.72917C0.125 3.44236 0.57066 2.3533 1.46198 1.46198C2.3533 0.57066 3.44236 0.125 4.72917 0.125C6.01597 0.125 7.10503 0.57066 7.99635 1.46198C8.88767 2.3533 9.33333 3.44236 9.33333 4.72917C9.33333 5.24861 9.25069 5.73854 9.08542 6.19896C8.92014 6.65937 8.69583 7.06667 8.4125 7.42083L12.875 11.8833L11.8833 12.875ZM4.72917 7.91667C5.61458 7.91667 6.36719 7.60677 6.98698 6.98698C7.60677 6.36719 7.91667 5.61458 7.91667 4.72917C7.91667 3.84375 7.60677 3.09115 6.98698 2.47135C6.36719 1.85156 5.61458 1.54167 4.72917 1.54167C3.84375 1.54167 3.09115 1.85156 2.47135 2.47135C1.85156 3.09115 1.54167 3.84375 1.54167 4.72917C1.54167 5.61458 1.85156 6.36719 2.47135 6.98698C3.09115 7.60677 3.84375 7.91667 4.72917 7.91667Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
header.fixed .util .lang .lang_open::after,
header.fixed .util .search .search_open::after,
header.menu_over .util .lang .lang_open::after,
header.menu_over .util .search .search_open::after {
    background-color: #ccc;
}

@media screen and (min-width:1025px){
    header .gnb .gnb_util,
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 8em;
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 1.29rem;
        font-weight: var(--bold-weight);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.6em;
        width: 100%;
        height: 3px;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* 숨김 */
        position: absolute; /* li를 기준으로 */
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding-top: 19px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--base-color);
        line-height: 2;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }

    /************ menu_over 추가시 *************/
    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1; 
        /* header 안에 있는 요소들 중에 맨 아래 
           header에 배경색을 줘도 그거보다는 위에 존재함 */
        width: 100%;
        height: 21.94em;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 나타남 */
    }
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1300px){
    /* 1300 ~ 1024사이일때 */
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7em;
    }
}/*@media*/
@media screen and (max-width:1024px){
            header {
                padding: 0 0 0 20px;
            }
            header .logo {
                margin-bottom: 8px;
            }
            header .logo a {
                width: 5.19em; 
                height: 1.75em;
            }
            
            header .util {
                display: none;
                gap: 1.2em;
            }
            
            header .gnb .gnb_util {
                display: none;
            }
            header .gnb .gnb_open {
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16634C1.33611 3.16634 1.05903 3.05454 0.835417 2.83092C0.611806 2.60731 0.5 2.33023 0.5 1.99967C0.5 1.66912 0.611806 1.39204 0.835417 1.16842C1.05903 0.944813 1.33611 0.833008 1.66667 0.833008H20.3333C20.6639 0.833008 20.941 0.944813 21.1646 1.16842C21.3882 1.39204 21.5 1.66912 21.5 1.99967C21.5 2.33023 21.3882 2.60731 21.1646 2.83092C20.941 3.05454 20.6639 3.16634 20.3333 3.16634H1.66667ZM1.66667 17.1663C1.33611 17.1663 1.05903 17.0545 0.835417 16.8309C0.611806 16.6073 0.5 16.3302 0.5 15.9997C0.5 15.6691 0.611806 15.392 0.835417 15.1684C1.05903 14.9448 1.33611 14.833 1.66667 14.833H20.3333C20.6639 14.833 20.941 14.9448 21.1646 15.1684C21.3882 15.392 21.5 15.6691 21.5 15.9997C21.5 16.3302 21.3882 16.6073 21.1646 16.8309C20.941 17.0545 20.6639 17.1663 20.3333 17.1663H1.66667ZM1.66667 10.1663C1.33611 10.1663 1.05903 10.0545 0.835417 9.83092C0.611806 9.60731 0.5 9.33023 0.5 8.99967C0.5 8.66912 0.611806 8.39204 0.835417 8.16843C1.05903 7.94481 1.33611 7.83301 1.66667 7.83301H20.3333C20.6639 7.83301 20.941 7.94481 21.1646 8.16843C21.3882 8.39204 21.5 8.66912 21.5 8.99967C21.5 9.33023 21.3882 9.60731 21.1646 9.83092C20.941 10.0545 20.6639 10.1663 20.3333 10.1663H1.66667Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16634C1.33611 3.16634 1.05903 3.05454 0.835417 2.83092C0.611806 2.60731 0.5 2.33023 0.5 1.99967C0.5 1.66912 0.611806 1.39204 0.835417 1.16842C1.05903 0.944813 1.33611 0.833008 1.66667 0.833008H20.3333C20.6639 0.833008 20.941 0.944813 21.1646 1.16842C21.3882 1.39204 21.5 1.66912 21.5 1.99967C21.5 2.33023 21.3882 2.60731 21.1646 2.83092C20.941 3.05454 20.6639 3.16634 20.3333 3.16634H1.66667ZM1.66667 17.1663C1.33611 17.1663 1.05903 17.0545 0.835417 16.8309C0.611806 16.6073 0.5 16.3302 0.5 15.9997C0.5 15.6691 0.611806 15.392 0.835417 15.1684C1.05903 14.9448 1.33611 14.833 1.66667 14.833H20.3333C20.6639 14.833 20.941 14.9448 21.1646 15.1684C21.3882 15.392 21.5 15.6691 21.5 15.9997C21.5 16.3302 21.3882 16.6073 21.1646 16.8309C20.941 17.0545 20.6639 17.1663 20.3333 17.1663H1.66667ZM1.66667 10.1663C1.33611 10.1663 1.05903 10.0545 0.835417 9.83092C0.611806 9.60731 0.5 9.33023 0.5 8.99967C0.5 8.66912 0.611806 8.39204 0.835417 8.16843C1.05903 7.94481 1.33611 7.83301 1.66667 7.83301H20.3333C20.6639 7.83301 20.941 7.94481 21.1646 8.16843C21.3882 8.39204 21.5 8.66912 21.5 8.99967C21.5 9.33023 21.3882 9.60731 21.1646 9.83092C20.941 10.0545 20.6639 10.1663 20.3333 10.1663H1.66667Z' fill='%23272729'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap {
                position: fixed;
                right: -100%;
                top: 0;
                width: calc(100% - 3em);
                height: 100%;
                background-color: #fff;
                color: var(--tit-color);
                transition: 0.5s;
            }
            header .gnb .gnb_close {
                display: none;
                position: absolute; /* gnb_wrap */
                right: 0;
                top: 0;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99994 9.63327L2.28327 15.3499C2.06938 15.5638 1.79716 15.6708 1.4666 15.6708C1.13605 15.6708 0.863824 15.5638 0.649935 15.3499C0.436046 15.136 0.329102 14.8638 0.329102 14.5333C0.329102 14.2027 0.436046 13.9305 0.649935 13.7166L6.3666 7.99994L0.649935 2.28327C0.436046 2.06938 0.329102 1.79716 0.329102 1.4666C0.329102 1.13605 0.436046 0.863824 0.649935 0.649935C0.863824 0.436046 1.13605 0.329102 1.4666 0.329102C1.79716 0.329102 2.06938 0.436046 2.28327 0.649935L7.99994 6.3666L13.7166 0.649935C13.9305 0.436046 14.2027 0.329102 14.5333 0.329102C14.8638 0.329102 15.136 0.436046 15.3499 0.649935C15.5638 0.863824 15.6708 1.13605 15.6708 1.4666C15.6708 1.79716 15.5638 2.06938 15.3499 2.28327L9.63327 7.99994L15.3499 13.7166C15.5638 13.9305 15.6708 14.2027 15.6708 14.5333C15.6708 14.8638 15.5638 15.136 15.3499 15.3499C15.136 15.5638 14.8638 15.6708 14.5333 15.6708C14.2027 15.6708 13.9305 15.5638 13.7166 15.3499L7.99994 9.63327Z' fill='%23272729'/%3E%3C/svg%3E%0A");
            }
            /* 메뉴가 열렸을때 */
            header.menu_open .gnb .gnb_wrap {
                right: 0;
            }
            header.menu_open .gnb .gnb_close {
                display: block;
            }
}/*@media*/

footer {
    margin: 1500px 0 0 0;
}