@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /* 맨위 */
    width: 100%;
}
.skip_nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #F56765;
    color: #fff;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

body {
    background-color: #fff; /* 블랜딩 모드 때문 */
}

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* logo, gnb, util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .logo a {
    display: block;
    width: 181px;
    height: 36px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/**** header에 fixed 클래스가 추가 되었을때 ****/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

@media screen and (min-width:1025px){
    /* pc버전에서만 적용되는 header 스타일 */
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* 2차메뉴 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 100px; /* header 높이만큼 */
        font-size: 22px;
        font-weight: 700;
        padding: 0 26px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
        /* li하위에 depth2가 있는 a만 */
        display: block;
        padding-right: 17px; /* 아이콘이 들어갈 만큼 */
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 45px;
        width: 14px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28325 5.85131L12.2906 0.843768C12.4798 0.65475 12.7031 0.562427 12.9607 0.566798C13.2183 0.57117 13.4416 0.667865 13.6308 0.856883C13.8198 1.04602 13.9143 1.27007 13.9143 1.52903C13.9143 1.788 13.8198 2.01199 13.6308 2.20101L8.3989 7.45014C8.24163 7.60741 8.06573 7.72469 7.87119 7.802C7.67653 7.87931 7.48055 7.91797 7.28325 7.91797C7.08595 7.91797 6.88997 7.87931 6.69532 7.802C6.50078 7.72469 6.32488 7.60741 6.16761 7.45014L0.918475 2.20101C0.729457 2.01199 0.637134 1.78581 0.641505 1.52247C0.645877 1.25914 0.742572 1.0329 0.93159 0.843768C1.12072 0.65475 1.34477 0.560241 1.60374 0.560241C1.8627 0.560241 2.08675 0.65475 2.27589 0.843768L7.28325 5.85131Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* 2차메뉴 */
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동 */
        top: 87px;
        background-color: #F56765;
        color: #fff;
        padding: 0 33px;
        border-radius: 30px;
    }
    
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        white-space: nowrap; /* 줄바꿈 금지 */
        padding: 16px 25px 14px 25px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        /* 속성선택자 <a target="_blank"> 라는 속성이 는 a태그만 선택함 */
        display: block;
        padding-right: 20px;
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
        content: "";
        position: absolute;
        right: 0;
        top: 2px;
        width: 19px;
        height: 19px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20164 14.2279C1.80172 14.2279 1.46322 14.0893 1.18613 13.8122C0.90905 13.5352 0.770508 13.1967 0.770508 12.7967V2.20067C0.770508 1.80074 0.90905 1.46224 1.18613 1.18516C1.46322 0.908073 1.80172 0.769531 2.20164 0.769531H6.60133C6.76982 0.769531 6.91094 0.826399 7.02467 0.940135C7.13828 1.05374 7.19508 1.19479 7.19508 1.36328C7.19508 1.53177 7.13828 1.67282 7.02467 1.78643C6.91094 1.90016 6.76982 1.95703 6.60133 1.95703H2.20164C2.14068 1.95703 2.08487 1.98243 2.03421 2.03323C1.98341 2.0839 1.95801 2.13971 1.95801 2.20067V12.7967C1.95801 12.8577 1.98341 12.9135 2.03421 12.9642C2.08487 13.015 2.14068 13.0404 2.20164 13.0404H12.7977C12.8587 13.0404 12.9145 13.015 12.9651 12.9642C13.0159 12.9135 13.0413 12.8577 13.0413 12.7967V8.39704C13.0413 8.22855 13.0982 8.08743 13.2119 7.9737C13.3255 7.86009 13.4666 7.80329 13.6351 7.80329C13.8036 7.80329 13.9446 7.86009 14.0582 7.9737C14.172 8.08743 14.2288 8.22855 14.2288 8.39704V12.7967C14.2288 13.1967 14.0903 13.5352 13.8132 13.8122C13.5361 14.0893 13.1976 14.2279 12.7977 14.2279H2.20164ZM13.0413 2.79125L6.11129 9.7215C6.00164 9.83101 5.86383 9.88709 5.69784 9.88973C5.53199 9.89224 5.39166 9.83616 5.27687 9.7215C5.16221 9.60671 5.10488 9.46764 5.10488 9.30429C5.10488 9.14094 5.16221 9.00187 5.27687 8.88708L12.2071 1.95703H9.67676C9.50826 1.95703 9.36722 1.90016 9.25361 1.78643C9.13988 1.67282 9.08301 1.53177 9.08301 1.36328C9.08301 1.19479 9.13988 1.05374 9.25361 0.940135C9.36722 0.826399 9.50826 0.769531 9.67676 0.769531H13.5132C13.7173 0.769531 13.8876 0.837812 14.024 0.974375C14.1606 1.11081 14.2288 1.28108 14.2288 1.4852V5.32161C14.2288 5.49011 14.172 5.63116 14.0582 5.74476C13.9446 5.8585 13.8036 5.91536 13.6351 5.91536C13.4666 5.91536 13.3255 5.8585 13.2119 5.74476C13.0982 5.63116 13.0413 5.49011 13.0413 5.32161V2.79125Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    header .util .search .search_open {
        display: block;
        width: 45px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 18C6.56458 18 4.45052 17.1349 2.72031 15.4047C0.990104 13.6745 0.125 11.5604 0.125 9.0625C0.125 6.56458 0.990104 4.45052 2.72031 2.72031C4.45052 0.990104 6.56458 0.125 9.0625 0.125C11.5604 0.125 13.6745 0.990104 15.4047 2.72031C17.1349 4.45052 18 6.56458 18 9.0625C18 10.0708 17.8396 11.0219 17.5188 11.9156C17.1979 12.8094 16.7625 13.6 16.2125 14.2875L23.9125 21.9875C24.1646 22.2396 24.2906 22.5604 24.2906 22.95C24.2906 23.3396 24.1646 23.6604 23.9125 23.9125C23.6604 24.1646 23.3396 24.2906 22.95 24.2906C22.5604 24.2906 22.2396 24.1646 21.9875 23.9125L14.2875 16.2125C13.6 16.7625 12.8094 17.1979 11.9156 17.5188C11.0219 17.8396 10.0708 18 9.0625 18ZM9.0625 15.25C10.7812 15.25 12.2422 14.6484 13.4453 13.4453C14.6484 12.2422 15.25 10.7812 15.25 9.0625C15.25 7.34375 14.6484 5.88281 13.4453 4.67969C12.2422 3.47656 10.7812 2.875 9.0625 2.875C7.34375 2.875 5.88281 3.47656 4.67969 4.67969C3.47656 5.88281 2.875 7.34375 2.875 9.0625C2.875 10.7812 3.47656 12.2422 4.67969 13.4453C5.88281 14.6484 7.34375 15.25 9.0625 15.25Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }

    /**** header에 fixed 클래스가 추가 되었을때 ****/
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after { 
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28325 5.85131L12.2906 0.843768C12.4798 0.65475 12.7031 0.562427 12.9607 0.566798C13.2183 0.57117 13.4416 0.667865 13.6308 0.856883C13.8198 1.04602 13.9143 1.27007 13.9143 1.52903C13.9143 1.788 13.8198 2.01199 13.6308 2.20101L8.3989 7.45014C8.24163 7.60741 8.06573 7.72469 7.87119 7.802C7.67653 7.87931 7.48055 7.91797 7.28325 7.91797C7.08595 7.91797 6.88997 7.87931 6.69532 7.802C6.50078 7.72469 6.32488 7.60741 6.16761 7.45014L0.918475 2.20101C0.729457 2.01199 0.637134 1.78581 0.641505 1.52247C0.645877 1.25914 0.742572 1.0329 0.93159 0.843768C1.12072 0.65475 1.34477 0.560241 1.60374 0.560241C1.8627 0.560241 2.08675 0.65475 2.27589 0.843768L7.28325 5.85131Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    header.fixed .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 18C6.56458 18 4.45052 17.1349 2.72031 15.4047C0.990104 13.6745 0.125 11.5604 0.125 9.0625C0.125 6.56458 0.990104 4.45052 2.72031 2.72031C4.45052 0.990104 6.56458 0.125 9.0625 0.125C11.5604 0.125 13.6745 0.990104 15.4047 2.72031C17.1349 4.45052 18 6.56458 18 9.0625C18 10.0708 17.8396 11.0219 17.5188 11.9156C17.1979 12.8094 16.7625 13.6 16.2125 14.2875L23.9125 21.9875C24.1646 22.2396 24.2906 22.5604 24.2906 22.95C24.2906 23.3396 24.1646 23.6604 23.9125 23.9125C23.6604 24.1646 23.3396 24.2906 22.95 24.2906C22.5604 24.2906 22.2396 24.1646 21.9875 23.9125L14.2875 16.2125C13.6 16.7625 12.8094 17.1979 11.9156 17.5188C11.0219 17.8396 10.0708 18 9.0625 18ZM9.0625 15.25C10.7812 15.25 12.2422 14.6484 13.4453 13.4453C14.6484 12.2422 15.25 10.7812 15.25 9.0625C15.25 7.34375 14.6484 5.88281 13.4453 4.67969C12.2422 3.47656 10.7812 2.875 9.0625 2.875C7.34375 2.875 5.88281 3.47656 4.67969 4.67969C3.47656 5.88281 2.875 7.34375 2.875 9.0625C2.875 10.7812 3.47656 12.2422 4.67969 13.4453C5.88281 14.6484 7.34375 15.25 9.0625 15.25Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }

    /*********** 메뉴에 마우스를 오버했을때 ******************/
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #F56765;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after{
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2834 2.7151L2.27603 7.72264C2.08689 7.91166 1.86353 8.00398 1.60595 7.99961C1.34837 7.99523 1.12501 7.89854 0.935875 7.70952C0.746856 7.52039 0.652346 7.29634 0.652346 7.03737C0.652346 6.77841 0.746856 6.55442 0.935875 6.3654L6.16775 1.11627C6.32502 0.959 6.50092 0.841712 6.69546 0.764402C6.89012 0.687092 7.0861 0.648437 7.2834 0.648437C7.4807 0.648437 7.67668 0.687092 7.87133 0.764402C8.06587 0.841712 8.24178 0.959 8.39904 1.11627L13.6482 6.3654C13.8372 6.55442 13.9295 6.7806 13.9251 7.04393C13.9208 7.30727 13.8241 7.5335 13.6351 7.72264C13.4459 7.91166 13.2219 8.00616 12.9629 8.00616C12.7039 8.00616 12.4799 7.91166 12.2908 7.72264L7.2834 2.7151Z' fill='%23F56765'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex; /* li를 좌우로 배치 */
    }
}/* media */
@media screen and (min-width:1025px) and (max-width:1280px){ /* 1280~1025까지만 적용 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 16px 10px 14px 10px;
    }
}/* media */
@media screen and (max-width:1024px){ /* 모바일 1024이하 */
    header {
        height: 56px;
        padding: 0 0 0 20px;
    }
    header .logo a {
        width: 116px;
        height: 23px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16732C1.33611 3.16732 1.05903 3.05551 0.835417 2.8319C0.611806 2.60829 0.5 2.33121 0.5 2.00065C0.5 1.6701 0.611806 1.39301 0.835417 1.1694C1.05903 0.94579 1.33611 0.833984 1.66667 0.833984H20.3333C20.6639 0.833984 20.941 0.94579 21.1646 1.1694C21.3882 1.39301 21.5 1.6701 21.5 2.00065C21.5 2.33121 21.3882 2.60829 21.1646 2.8319C20.941 3.05551 20.6639 3.16732 20.3333 3.16732H1.66667ZM1.66667 17.1673C1.33611 17.1673 1.05903 17.0555 0.835417 16.8319C0.611806 16.6083 0.5 16.3312 0.5 16.0007C0.5 15.6701 0.611806 15.393 0.835417 15.1694C1.05903 14.9458 1.33611 14.834 1.66667 14.834H20.3333C20.6639 14.834 20.941 14.9458 21.1646 15.1694C21.3882 15.393 21.5 15.6701 21.5 16.0007C21.5 16.3312 21.3882 16.6083 21.1646 16.8319C20.941 17.0555 20.6639 17.1673 20.3333 17.1673H1.66667ZM1.66667 10.1673C1.33611 10.1673 1.05903 10.0555 0.835417 9.8319C0.611806 9.60829 0.5 9.33121 0.5 9.00065C0.5 8.6701 0.611806 8.39301 0.835417 8.1694C1.05903 7.94579 1.33611 7.83398 1.66667 7.83398H20.3333C20.6639 7.83398 20.941 7.94579 21.1646 8.1694C21.3882 8.39301 21.5 8.6701 21.5 9.00065C21.5 9.33121 21.3882 9.60829 21.1646 9.8319C20.941 10.0555 20.6639 10.1673 20.3333 10.1673H1.66667Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16732C1.33611 3.16732 1.05903 3.05551 0.835417 2.8319C0.611806 2.60829 0.5 2.33121 0.5 2.00065C0.5 1.6701 0.611806 1.39301 0.835417 1.1694C1.05903 0.94579 1.33611 0.833984 1.66667 0.833984H20.3333C20.6639 0.833984 20.941 0.94579 21.1646 1.1694C21.3882 1.39301 21.5 1.6701 21.5 2.00065C21.5 2.33121 21.3882 2.60829 21.1646 2.8319C20.941 3.05551 20.6639 3.16732 20.3333 3.16732H1.66667ZM1.66667 17.1673C1.33611 17.1673 1.05903 17.0555 0.835417 16.8319C0.611806 16.6083 0.5 16.3312 0.5 16.0007C0.5 15.6701 0.611806 15.393 0.835417 15.1694C1.05903 14.9458 1.33611 14.834 1.66667 14.834H20.3333C20.6639 14.834 20.941 14.9458 21.1646 15.1694C21.3882 15.393 21.5 15.6701 21.5 16.0007C21.5 16.3312 21.3882 16.6083 21.1646 16.8319C20.941 17.0555 20.6639 17.1673 20.3333 17.1673H1.66667ZM1.66667 10.1673C1.33611 10.1673 1.05903 10.0555 0.835417 9.8319C0.611806 9.60829 0.5 9.33121 0.5 9.00065C0.5 8.6701 0.611806 8.39301 0.835417 8.1694C1.05903 7.94579 1.33611 7.83398 1.66667 7.83398H20.3333C20.6639 7.83398 20.941 7.94579 21.1646 8.1694C21.3882 8.39301 21.5 8.6701 21.5 9.00065C21.5 9.33121 21.3882 9.60829 21.1646 9.8319C20.941 10.0555 20.6639 10.1673 20.3333 10.1673H1.66667Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none; /* 숨김 */
        position: fixed; /* body를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 56px 20px 0 20px;
        height: calc(100% - 56px);
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 15px 0;
        font-size: 22px;
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
        content: "";
        position: absolute;
        right: 0;
        top: 25px;
        width: 14px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28319 5.93334L12.2906 0.925799C12.4797 0.736781 12.7031 0.644458 12.9606 0.648829C13.2182 0.653202 13.4416 0.749896 13.6307 0.938914C13.8197 1.12805 13.9142 1.3521 13.9142 1.61106C13.9142 1.87003 13.8197 2.09402 13.6307 2.28304L8.39884 7.53217C8.24157 7.68944 8.06567 7.80672 7.87113 7.88403C7.67647 7.96134 7.48049 8 7.28319 8C7.08589 8 6.88991 7.96134 6.69526 7.88403C6.50072 7.80673 6.32481 7.68944 6.16755 7.53217L0.918414 2.28304C0.729396 2.09402 0.637073 1.86784 0.641444 1.6045C0.645816 1.34117 0.742511 1.11493 0.931529 0.9258C1.12066 0.736782 1.34471 0.642272 1.60368 0.642272C1.86264 0.642272 2.08669 0.736782 2.27582 0.9258L7.28319 5.93334Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #F4F4F4;
        color: #555;
        padding: 27px 0 24px 29px;
        display: none; /* 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 7px 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        display: inline-block;
        position: relative; /* after 정렬의 기준 */
        padding-right: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 3px;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20189 14.2279C1.80196 14.2279 1.46346 14.0893 1.18638 13.8122C0.909294 13.5352 0.770752 13.1967 0.770752 12.7967V2.20067C0.770752 1.80074 0.909294 1.46224 1.18638 1.18516C1.46346 0.908073 1.80196 0.769531 2.20189 0.769531H6.60157C6.77007 0.769531 6.91118 0.826399 7.02492 0.940135C7.13852 1.05374 7.19532 1.19479 7.19532 1.36328C7.19532 1.53177 7.13852 1.67282 7.02492 1.78643C6.91118 1.90016 6.77007 1.95703 6.60157 1.95703H2.20189C2.14093 1.95703 2.08512 1.98243 2.03445 2.03323C1.98365 2.0839 1.95825 2.13971 1.95825 2.20067V12.7967C1.95825 12.8577 1.98365 12.9135 2.03445 12.9642C2.08512 13.015 2.14093 13.0404 2.20189 13.0404H12.7979C12.8589 13.0404 12.9147 13.015 12.9654 12.9642C13.0162 12.9135 13.0416 12.8577 13.0416 12.7967V8.39704C13.0416 8.22855 13.0985 8.08743 13.2122 7.9737C13.3258 7.86009 13.4668 7.80329 13.6353 7.80329C13.8038 7.80329 13.9449 7.86009 14.0585 7.9737C14.1722 8.08743 14.2291 8.22855 14.2291 8.39704V12.7967C14.2291 13.1967 14.0905 13.5352 13.8135 13.8122C13.5364 14.0893 13.1979 14.2279 12.7979 14.2279H2.20189ZM13.0416 2.79125L6.11153 9.7215C6.00189 9.83101 5.86407 9.88709 5.69809 9.88973C5.53223 9.89224 5.39191 9.83616 5.27712 9.7215C5.16246 9.60671 5.10513 9.46764 5.10513 9.30429C5.10513 9.14094 5.16246 9.00187 5.27712 8.88708L12.2074 1.95703H9.677C9.50851 1.95703 9.36746 1.90016 9.25386 1.78643C9.14012 1.67282 9.08325 1.53177 9.08325 1.36328C9.08325 1.19479 9.14012 1.05374 9.25386 0.940135C9.36746 0.826399 9.50851 0.769531 9.677 0.769531H13.5134C13.7175 0.769531 13.8878 0.837812 14.0242 0.974375C14.1608 1.11081 14.2291 1.28108 14.2291 1.4852V5.32161C14.2291 5.49011 14.1722 5.63116 14.0585 5.74476C13.9449 5.8585 13.8038 5.91536 13.6353 5.91536C13.4668 5.91536 13.3258 5.8585 13.2122 5.74476C13.0985 5.63116 13.0416 5.49011 13.0416 5.32161V2.79125Z' fill='%23666666'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_close {
        display: none; /* 숨김 */
        position: fixed;
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 9.63424L2.28333 15.3509C2.06944 15.5648 1.79722 15.6717 1.46666 15.6717C1.13611 15.6717 0.863885 15.5648 0.649996 15.3509C0.436107 15.137 0.329163 14.8648 0.329163 14.5342C0.329163 14.2037 0.436107 13.9315 0.649996 13.7176L6.36666 8.00091L0.649996 2.28424C0.436107 2.07036 0.329163 1.79813 0.329163 1.46758C0.329163 1.13702 0.436107 0.8648 0.649996 0.650911C0.863885 0.437023 1.13611 0.330078 1.46666 0.330078C1.79722 0.330078 2.06944 0.437023 2.28333 0.650911L8 6.36758L13.7167 0.650911C13.9306 0.437023 14.2028 0.330078 14.5333 0.330078C14.8639 0.330078 15.1361 0.437023 15.35 0.650911C15.5639 0.8648 15.6708 1.13702 15.6708 1.46758C15.6708 1.79813 15.5639 2.07036 15.35 2.28424L9.63333 8.00091L15.35 13.7176C15.5639 13.9315 15.6708 14.2037 15.6708 14.5342C15.6708 14.8648 15.5639 15.137 15.35 15.3509C15.1361 15.5648 14.8639 15.6717 14.5333 15.6717C14.2028 15.6717 13.9306 15.5648 13.7167 15.3509L8 9.63424Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util {
        display: none; /* 숨김 */
    }

    /******** 모바일 메뉴가 열렸을때 **********/
    header.menu_open .gnb .gnb_wrap {
        display: block; /* 나타남 */
    }
    header.menu_open .gnb .gnb_close {
        display: block; /* 나타남 */
    }

    /*************** 하위메뉴가 열렸을때 ******************/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #F56765;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28321 2.06666L2.27584 7.0742C2.08671 7.26322 1.86335 7.35554 1.60577 7.35117C1.34818 7.3468 1.12482 7.2501 0.935692 7.06109C0.746673 6.87195 0.652163 6.6479 0.652163 6.38894C0.652163 6.12997 0.746673 5.90598 0.935692 5.71696L6.16757 0.467828C6.32484 0.310562 6.50074 0.193274 6.69528 0.115964C6.88993 0.0386546 7.08591 -2.98951e-07 7.28321 -2.90327e-07C7.48052 -2.81702e-07 7.67649 0.0386546 7.87115 0.115965C8.06569 0.193274 8.24159 0.310562 8.39886 0.467828L13.648 5.71696C13.837 5.90598 13.9293 6.13216 13.925 6.3955C13.9206 6.65883 13.8239 6.88507 13.6349 7.0742C13.4457 7.26322 13.2217 7.35773 12.9627 7.35773C12.7038 7.35773 12.4797 7.26322 12.2906 7.0742L7.28321 2.06666Z' fill='%23F56765'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block; /* 나타남 */
    }
}/* media */

.visual .swiper-slide {
    
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide .wrapper {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 147px 0;
}
.visual .swiper-slide p {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute; /* swiper르르 기준으로 정렬 */
    left: 0;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.84782 5.79602L5.77735 9.7254C5.92567 9.87382 5.99812 10.0491 5.99469 10.2512C5.99126 10.4534 5.91538 10.6286 5.76705 10.777C5.61864 10.9254 5.44282 10.9995 5.23961 10.9995C5.03639 10.9995 4.86062 10.9254 4.71229 10.777L0.593189 6.67149C0.469779 6.54808 0.377741 6.41004 0.317074 6.25738C0.256408 6.10463 0.226074 5.95084 0.226074 5.79602C0.226074 5.64119 0.256408 5.4874 0.317074 5.33465C0.377741 5.18199 0.469779 5.04396 0.593189 4.92055L4.71229 0.801444C4.86062 0.653118 5.03811 0.58067 5.24475 0.584101C5.4514 0.587531 5.62893 0.66341 5.77734 0.811736C5.92567 0.960153 5.99983 1.13597 5.99983 1.33918C5.99983 1.5424 5.92567 1.71822 5.77734 1.86663L1.84782 5.79602Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.37825 5.78797L0.44873 1.85858C0.300404 1.71017 0.227956 1.53489 0.231387 1.33276C0.234817 1.13063 0.310696 0.955353 0.459022 0.806936C0.607439 0.65861 0.783254 0.584446 0.98647 0.584446C1.18968 0.584446 1.36546 0.65861 1.51378 0.806937L5.63289 4.9125C5.7563 5.03591 5.84833 5.17394 5.909 5.3266C5.96967 5.47935 6 5.63314 6 5.78797C6 5.94279 5.96967 6.09658 5.909 6.24933C5.84833 6.40199 5.7563 6.54003 5.63289 6.66344L1.51378 10.7825C1.36546 10.9309 1.18797 11.0033 0.981323 10.9999C0.774677 10.9965 0.597146 10.9206 0.44873 10.7722C0.300403 10.6238 0.22624 10.448 0.22624 10.2448C0.22624 10.0416 0.300403 9.86577 0.44873 9.71735L4.37825 5.78797Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.40755 7.98356C5.11854 7.98356 4.87113 7.88066 4.66532 7.67485C4.45951 7.46904 4.35661 7.22163 4.35661 6.93262V1.6779C4.35661 1.38889 4.45951 1.14148 4.66532 0.935668C4.87113 0.729858 5.11854 0.626953 5.40755 0.626953C5.69656 0.626953 5.94397 0.729858 6.14978 0.935668C6.35559 1.14148 6.4585 1.38889 6.4585 1.6779V6.93262C6.4585 7.22163 6.35559 7.46904 6.14978 7.67485C5.94397 7.88066 5.69656 7.98356 5.40755 7.98356ZM1.20378 7.98356C0.914766 7.98356 0.667357 7.88066 0.461547 7.67485C0.255737 7.46904 0.152832 7.22163 0.152832 6.93262V1.6779C0.152832 1.38889 0.255737 1.14148 0.461547 0.935668C0.667357 0.729858 0.914766 0.626953 1.20378 0.626953C1.49279 0.626953 1.7402 0.729858 1.94601 0.935668C2.15182 1.14148 2.25472 1.38889 2.25472 1.6779V6.93262C2.25472 7.22163 2.15182 7.46904 1.94601 7.67485C1.7402 7.88066 1.49279 7.98356 1.20378 7.98356Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;  /* 정지버튼을 눌렀을때만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09436 7.77964C0.986646 7.77964 0.892395 7.74261 0.811609 7.66856C0.730823 7.5945 0.69043 7.49689 0.69043 7.37571V1.23596C0.69043 1.11478 0.730823 1.01717 0.811609 0.943112C0.892395 0.869058 0.986646 0.832031 1.09436 0.832031C1.12129 0.832031 1.21554 0.872424 1.37711 0.95321L4.30561 3.88171C4.37293 3.94903 4.42006 4.01635 4.44699 4.08367C4.47391 4.151 4.48738 4.22505 4.48738 4.30584C4.48738 4.38662 4.47391 4.46068 4.44699 4.528C4.42006 4.59532 4.37293 4.66264 4.30561 4.72996L1.37711 7.65846C1.33672 7.69885 1.29296 7.72915 1.24583 7.74934C1.19871 7.76954 1.14822 7.77964 1.09436 7.77964Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .wrapper {
        height: 700px;
        padding: 0 0 100px 0;
    }
    .visual .swiper-slide p {
        font-size: 42px;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide .wrapper {
        height: 436px;
        padding: 0 0 70px 0;
    }
    .visual .swiper-slide p {
        font-size: 30px;
    }
    .visual .btn_wrap {
        left: 20px;
        bottom: 25px;
        width: auto;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
}

.find {
    background-color: #143546;
    color: #fff;
    padding: 166px 0;
    position: relative; /* emblem 정렬의 기준 */
}
.find .tit h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.find .list {
    margin: 28px 0 0 0;
}
.find .list .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.find .list .tab_list ul li button {
    font-size: 25px;
    font-weight: 700;
    padding: 9px 25px 7px 25px;
    border-radius: 25px;
}
.find .list .tab_list ul li.item1.active button {
    background-color: #F56765;
}
.find .list .tab_list ul li.item2.active button {
    background-color: #04B0D6;
}
.find .list .tab_content {
    margin: 49px 0 0 0;
}
.find .list .tab_content .tab_item {
    display: none; /* 숨김 */
}
.find .list .tab_content .tab_item.active {
    display: block; /* 나타남 */
}
.find .list .tab_content .tab_item > ul {
    display: flex;
    justify-content: space-between;
}
.find .list .tab_content .tab_item > ul > li {
    width: calc(25% - 18px);
    /* 24+24+24 / 1줄에 나타나는 li의 갯수 */
}
.find .list .tab_content .tab_item > ul > li a {
    display: block;
}
.find .list .tab_content .tab_item > ul > li a .photo {
    overflow: hidden;
    height: 318px;
    border-radius: 18px;
}
.find .list .tab_content .tab_item > ul > li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/* 마우스 오버 효과 */
.find .list .tab_content .tab_item > ul > li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.find .list .tab_content .tab_item > ul > li a .subject {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a .subject strong {
    padding: 7px 17px 5px 17px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_end {
    background-color: #999999;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_lost {
    background-color: #F56765;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_see {
    background-color: #04B0D6;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_care {
    background-color: #2B79FF;
}
.find .list .tab_content .tab_item > ul > li a .subject h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .list .tab_content .tab_item > ul > li a ul.detail {
    margin: 16px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li { 
    display: flex;
    gap: 15px;
    line-height: 1.8;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li strong {
    color: rgba(255,255,255,0.8);
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li span {
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .emblem {
    position: absolute;
    left: 20px;
    bottom: -88px;
    mix-blend-mode: difference;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite; /* 무제한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
@media screen and (max-width:1440px){
    .find .emblem {
        display: none;
    }
}
@media screen and (max-width:1024px){
                .find {
                    padding: 130px 0;
                }
                .find .tit h2 {
                    font-size: 35px;
                }
                .find .list .tab_list ul li button {
                    font-size: 22px;
                }
                .find .list .tab_content .tab_item > ul {
                    gap: 38px 16px;
                    flex-wrap: wrap; /* 줄바꿈 허용 */
                }
                .find .list .tab_content .tab_item > ul > li {
                    width: calc(50% - 8px);
                    /* 16 / 1줄에 나타나는 li의 갯수 */
                }
                .find .list .tab_content .tab_item > ul > li a .photo {
                    height: 183px;
                    border-radius: 10px;
                }
}/*media*/
@media screen and (max-width:768px){
                .find {
                    padding: 100px 0;
                }
                .find .tit h2 {
                    font-size: 30px;
                }
                .find .list {
                    margin: 19px 0 0 0;
                }
                .find .list .tab_list ul {
                    gap: 0;
                }
                .find .list .tab_list ul li button {
                    font-size: 18px;
                    padding: 7px 22px 5px 22px;
                }
                .find .list .tab_content {
                    margin: 40px 0 0 0;
                }
                
                .find .list .tab_content .tab_item > ul > li a .subject {
                    display: block;
                    margin: 16px 0 0 0;
                    position: relative; /* strong 카테고리 정렬의 기준 */
                }
                .find .list .tab_content .tab_item > ul > li a .subject strong {
                    position: absolute;
                    left: 0;
                    top: -44px;
                    padding: 0 15px 0 15px;
                    border-radius: 10px;
                    font-size: 15px;
                    line-height: 28px;
                }
                .find .list .tab_content .tab_item > ul > li a .subject h4 {
                    font-size: 18px;
                }
                .find .list .tab_content .tab_item > ul > li a ul.detail {
                    margin: 8px 0 0 0;
                }
                .find .list .tab_content .tab_item > ul > li a ul.detail li { 
                    display: block;
                }
                .find .list .tab_content .tab_item > ul > li a ul.detail li:last-child {
                    display: none;
                }
                .find .list .tab_content .tab_item > ul > li a ul.detail li strong {
                    display: none;
                }
                .find .list .tab_content .tab_item > ul > li a ul.detail li span {
                    display: block;
                    color: rgba(255,255,255,0.8);
                }
}/*media*/

.slogan {
    margin: 232px 0 0 0;
}
.slogan .sub_tit {
    font-size: 65px;
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
}
.slogan .sub_tit strong {
    display: inline-block;
    /* 글자를 태그로 감싸고 inline-block을 주면 
       줄바꿈이 될때 inline-block으로 묶인 글자는 단락으로 줄바꿈 */
}
.slogan .sub_tit span {
    display: inline-block;
    color: transparent;
    position: relative; /* before 정렬의 기준 */
}
.slogan .sub_tit span.item1 {
    width: 2.52em;
    /* 넓이가 164px - 글자크기 65px
       164/65 = 2.52 em
       1em은 현재 해당 요소에 상속된 글자크기를 1로봄 */
}
.slogan .sub_tit span.item2 {
    width: 3.01em;
    /* 196/65 = 3.01 */
}
.slogan .sub_tit span.item3 {
    width: 2.52em;
    /* 164/65 = 3.01 */
}
.slogan .sub_tit span.item4 {
    width: 1.91em;
    /* 124/65 = 1.91 */
}
.slogan .sub_tit span::before {
    content: "";
    position: absolute; /* span태그를 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* span의 영역에 위아래 가운데 좌우에 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slogan .sub_tit span.item1::before {
    top: 30%;
    width: 1.88em; /* 122/65 = 1.88 */
    height: 1.63em; /* 106/65 = 1.63 */
    background-image: url(../images/slogan01.png);
}
.slogan .sub_tit span.item2::before {
    width: 2.54em; /*165/65 = 2.54*/
    height: 1.58em; /*103/65=1.58*/
    background-image: url(../images/slogan02.png);
}
.slogan .sub_tit span.item3::before {
    width: 2.14em; /*139/65 = 2.14*/
    height: 1.46em; /*95/65=1.46*/
    background-image: url(../images/slogan03.png);
}
.slogan .sub_tit span.item4::before {
    width: 1.78em; /*116/65 = 1.78*/
    height: 1.37em; /*89/65=1.37*/
    background-image: url(../images/slogan04.png);
}
.slogan .ex {
    margin: 55px 0 0 0;
    text-align: center;
    color: #666666;
}
@media screen and (max-width:1300px){
    .slogan .sub_tit {
        font-size: 55px;
    }
}
@media screen and (max-width:1024px){
    .slogan .sub_tit {
        font-size: 42px;
    }
    .slogan .ex br {
        display: none;
    }
}
@media screen and (max-width:768px){
                .slogan {
                    margin: 117px 0 0 0;
                }
                .slogan .sub_tit {
                    font-size: 30px;
                }
                .slogan .sub_tit br {
                    display: none; /* 줄바꿈금지 */
                }
                .slogan .ex {
                    margin: 26px 0 0 0;
                }
}

.adopt {
    margin: 171px 0 0 0;
    padding: 166px 0 282px 0;
    background-color: #143546;
    color: #fff;
    text-align: center;
    position: relative; /* rolling 정렬의 기준 */
}
.adopt .tit h2 {
    font-size: 45px;
    font-weight: 700;
}
.adopt .list {
    margin: 53px 0 0 0;
}
.adopt .list .swiper-slide {
    width: 300px;
}
.adopt .list .swiper-slide a {
    display: block;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 300px;
    border-radius: 50%; /* 동그라미 */
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}

.adopt .list .swiper-slide a strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding: 6px 17px 5px 17px;
    background-color: #F56765;
    border-radius: 16px;
    display: inline-block;
    transform: translateY(-13px);
}
.adopt .list .swiper-slide a h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 9px 0;
}
.adopt .list .swiper-slide a p {
    color: rgba(255,255,255,0.8);
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list .swiper-slide a strong.cate_care {
    background-color: #04B0D6;
}

.adopt .list_ctrl {
    margin: 87px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.adopt .list_ctrl button {
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.04164 9.65342L9.72183 16.3334C9.97398 16.5857 10.0971 16.8837 10.0913 17.2273C10.0855 17.5709 9.95649 17.8689 9.70433 18.1212C9.45202 18.3733 9.15314 18.4994 8.80767 18.4994C8.46221 18.4994 8.16339 18.3733 7.91124 18.1212L0.908763 11.1417C0.698967 10.9319 0.542502 10.6973 0.439368 10.4377C0.336235 10.1781 0.284668 9.91663 0.284668 9.65342C0.284668 9.39022 0.336235 9.12878 0.439368 8.8691C0.542502 8.60958 0.698967 8.37492 0.908763 8.16513L7.91124 1.16265C8.16339 0.910496 8.46512 0.787335 8.81642 0.793167C9.16772 0.798998 9.46952 0.927992 9.72183 1.18015C9.97398 1.43246 10.1001 1.73134 10.1001 2.07681C10.1001 2.42227 9.97398 2.72116 9.72183 2.97347L3.04164 9.65342Z' fill='white'/%3E%3C/svg%3E%0A");
}
.adopt .list_ctrl button.btn_next {
    transform: rotate(180deg);
}
.adopt .list_ctrl .more {
    line-height: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 17px;
    padding: 0 40px 0 22px;
    position: relative; /* before 정렬의 기준 */
}
.adopt .list_ctrl .more::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 20px;
    top: 10px;
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 7.375H1.25C1.00208 7.375 0.794271 7.29115 0.626563 7.12344C0.458854 6.95573 0.375 6.74792 0.375 6.5C0.375 6.25208 0.458854 6.04427 0.626563 5.87656C0.794271 5.70885 1.00208 5.625 1.25 5.625H5.625V1.25C5.625 1.00208 5.70885 0.794271 5.87656 0.626563C6.04427 0.458854 6.25208 0.375 6.5 0.375C6.74792 0.375 6.95573 0.458854 7.12344 0.626563C7.29115 0.794271 7.375 1.00208 7.375 1.25V5.625H11.75C11.9979 5.625 12.2057 5.70885 12.3734 5.87656C12.5411 6.04427 12.625 6.25208 12.625 6.5C12.625 6.74792 12.5411 6.95573 12.3734 7.12344C12.2057 7.29115 11.9979 7.375 11.75 7.375H7.375V11.75C7.375 11.9979 7.29115 12.2057 7.12344 12.3734C6.95573 12.5411 6.74792 12.625 6.5 12.625C6.25208 12.625 6.04427 12.5411 5.87656 12.3734C5.70885 12.2057 5.625 11.9979 5.625 11.75V7.375Z' fill='white'/%3E%3C/svg%3E%0A");
}
.adopt .rolling {
    position: absolute; /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: 25px;
    width: 100%;
}
.adopt .rolling p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 100px;
    font-weight: 700;
    color: rgba(255,255,255,0.1);
    white-space: nowrap; /* 1줄 */
    text-transform: uppercase; /* 대문자 변경 */

    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes rolling {
    0% { left: 0; }
    100% { left: -14.83em; }
}
@media screen and (max-width:1024px){
    .adopt .tit h2 {
        font-size: 35px;
    }
    .adopt .list .swiper-slide {
        width: 250px;
    }
    .adopt .list .swiper-slide a .photo {
        height: 250px;
    }
    .adopt .rolling p {
        font-size: 80px;
    }
}
@media screen and (max-width:768px){
            .adopt {
                margin: 81px 0 0 0;
                padding: 100px 0 180px 0;
            }
            .adopt .tit h2 {
                font-size: 30px;
            }
            .adopt .list {
                margin: 41px 0 0 0;
            }
            .adopt .list .swiper {
                padding-left: 16px;
            }
            .adopt .list .swiper-slide {
                width: 200px;
            }
            .adopt .list .swiper-slide a .photo {
                height: 200px;
            }
            .adopt .list .swiper-slide a strong {
                font-size: 15px;
                padding: 4px 12px 2px 12px;
                transform: translateY(-8px);
            }
            .adopt .list .swiper-slide a h3 {
                font-size: 18px;
                margin: 0 0 8px 0;
            }
            .adopt .list_ctrl {
                margin: 61px 0 0 0;
            }
            .adopt .list_ctrl button {
                display: none; /* 숨김 */
            }
            .adopt .rolling {
                bottom: 30px;
            }
            .adopt .rolling p {
                font-size: 60px;
            }
}/* @media */


.review {
    margin: 164px 0 0 0;
}
.review .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.review .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 28px 0; /* 선까지의 여백 */
    position: relative; /* after를 기준으로 정렬 */
}
.review .tit h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /* 나의 넓이의 절반을 왼쪽으로 */
    width: 100vw; /* 브라우저 넓이 */
    height: 1px;
    background-color: #ededed;
}
.review .tit h2 strong {
    position: relative; /* after 정렬의 기준 */
}
.review .tit h2 strong::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: #F56765;
}
.review .list {
    margin: 43px 0 0 0;
    position: relative; /* 이전다음버튼 정렬의 기준 */
}
.review .list .swiper-slide a {
    display: block;
}
.review .list .swiper-slide a .photo {
    overflow: hidden;
    height: 281px;
}
.review .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 사진을 자르지 않고 모두 보이게 */
}
.review .list .swiper-slide a h3 {
    margin: 28px 0 12px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;

    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review .list .swiper-slide a p {
    /* 2줄제한 */
    line-height: 1.5;
    height: 3em; /* 행간 X 줄수 = 단위는 em */
    overflow: hidden;

    /* 2줄이상 제한에도 끝에 ... 추가 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 줄수 */
}
.review .list .btn_prev,
.review .list .btn_next {
    position: absolute;
    top: 117px;
    width: 19px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='36' viewBox='0 0 20 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.63855 17.9999L19.0691 33.4309C19.3641 33.7256 19.5097 34.0781 19.5061 34.4884C19.5021 34.8988 19.3526 35.2513 19.0576 35.5459C18.7629 35.8409 18.4104 35.9884 18.0001 35.9884C17.5897 35.9884 17.2372 35.8409 16.9426 35.5459L1.65755 20.2729C1.33455 19.9499 1.09872 19.5898 0.950051 19.1924C0.801384 18.7948 0.727051 18.3973 0.727051 17.9999C0.727051 17.6026 0.801384 17.2051 0.950051 16.8074C1.09872 16.4101 1.33455 16.0499 1.65755 15.7269L16.9426 0.442439C17.2372 0.147439 17.5917 0.00193964 18.0061 0.00593964C18.42 0.00960631 18.7744 0.158941 19.0691 0.453941C19.3641 0.748607 19.5116 1.10111 19.5116 1.51144C19.5116 1.92177 19.3641 2.27427 19.0691 2.56894L3.63855 17.9999Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.review .list .btn_prev {
    left: -65px;
}
.review .list .btn_next {
    right: -65px;
    transform: rotate(180deg);
}
.review .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 6px;
    display: flex; /* strong과 span 좌우 */
    gap: 8px;
    align-items: center;
    padding-right: 47px;
}
.review .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 31px;
    height: 31px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9792 16.7708H1.27083C0.910764 16.7708 0.608941 16.6488 0.365365 16.4048C0.121788 16.1608 0 15.8586 0 15.4981C0 15.1376 0.121788 14.836 0.365365 14.5933C0.608941 14.3505 0.910764 14.2292 1.27083 14.2292H13.9792V1.52083C13.9792 1.16076 14.1012 0.858941 14.3452 0.615365C14.5892 0.371788 14.8914 0.25 15.2519 0.25C15.6124 0.25 15.914 0.371788 16.1567 0.615365C16.3995 0.858941 16.5208 1.16076 16.5208 1.52083V14.2292H29.2292C29.5892 14.2292 29.8911 14.3512 30.1346 14.5952C30.3782 14.8392 30.5 15.1414 30.5 15.5019C30.5 15.8624 30.3782 16.164 30.1346 16.4067C29.8911 16.6495 29.5892 16.7708 29.2292 16.7708H16.5208V29.4792C16.5208 29.8392 16.3988 30.1411 16.1548 30.3846C15.9108 30.6282 15.6086 30.75 15.2481 30.75C14.8876 30.75 14.586 30.6282 14.3433 30.3846C14.1005 30.1411 13.9792 29.8392 13.9792 29.4792V16.7708Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.review .more strong {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #F56765;
}
@media screen and (max-width:1420px){
            .review .list .btn_prev,
            .review .list .btn_next {
                display: none; /* 숨김 */
            }
            
}/* media */
@media screen and (max-width:1024px){ 
            .review .tit h2 {
                font-size: 35px;
            }
            .review .more {
                padding-right: 35px;
            }
            .review .more strong {
                font-size: 35px;
            }
            .review .more::after {
                top: 6px;
                width: 25px;
                height: 25px;
            }
}/* media */
@media screen and (max-width:768px){
            .review {
                margin: 104px 0 0 0;
            }
            .review .tit h2 {
                font-size: 30px;
                padding: 0 0 18px 0; /* 선까지의 여백 */
            }
            .review .tit h2 strong::after {
                bottom: -19px;
            }
            .review .list {
                margin: 32px 0 0 0;
            }
            .review .list .swiper-slide {
                width: 200px;
            }
            .review .list .swiper-slide a .photo {
                height: 183px;
            }
            .review .list .swiper-slide a h3 {
                margin: 21px 0 10px 0;
                font-size: 18px;
            }
            .review .more {
                top: 12px;
                padding-right: 0;
                width: 15px;
                height: 15px;
            }
            .review .more::after {
                top: 0;
                width: 100%;
                height: 100%;
                background-size: contain;
            }
            .review .more strong,
            .review .more span {
                display: none; /* 숨김 */
            }
}/*media*/

footer {
    margin: 130px 0 0 0;
    background-color: #2D2D2D;
    color: rgba(255,255,255,0.8);
    position: relative; /* top정렬의 기준 */
}
footer .wrapper {
    position: relative; /* top정렬의 기준 */
    padding: 102px 0 138px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer .top {
    position: absolute;
    right: 20px;
    top: -48px;
    mix-blend-mode: difference; 
    /* 반전 - 흰색배경에서는 검은색 (배경색과 반대로) 
       배경색이 흰색이라면 진짜 흰색을 배경색으로 깔아줘야함 - 그래야 적용이됨 
       ==> body에 흰색을 주면 됨  */
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite; /* 무제한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
footer .top2 {
    position: absolute;
    right: 0;
    top: -22px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #F56765;
    color: #fff;
    padding: 18px 0 0 0;
    text-align: center;
    font-size: 13px;
}
footer .top2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.125 2.125L4.125 7.25C4.125 7.42708 4.0651 7.57552 3.94531 7.69531C3.82552 7.8151 3.67708 7.875 3.5 7.875C3.32292 7.875 3.17448 7.8151 3.05469 7.69531C2.9349 7.57552 2.875 7.42708 2.875 7.25L2.875 2.125L1.0625 3.9375C0.947918 4.05208 0.802085 4.10937 0.625001 4.10937C0.447918 4.10937 0.302085 4.05208 0.187502 3.9375C0.0729185 3.82292 0.0156263 3.67708 0.0156263 3.5C0.0156264 3.32292 0.0729185 3.17708 0.187502 3.0625L3.0625 0.187499C3.1875 0.0624987 3.33333 -1.27286e-06 3.5 -1.25829e-06C3.66667 -1.24372e-06 3.8125 0.0624988 3.9375 0.187499L6.8125 3.0625C6.92708 3.17708 6.98438 3.32292 6.98438 3.5C6.98438 3.67708 6.92708 3.82292 6.8125 3.9375C6.69792 4.05208 6.55208 4.10937 6.375 4.10937C6.19792 4.10937 6.05208 4.05208 5.9375 3.9375L4.125 2.125Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.link li {
    margin: 0 0 5px 0;
}
footer .link_wrap ul.link li a {
    display: block;
    text-align: right;
    padding-right: 25px;
    position: relative;
}
footer .link_wrap ul.link li a::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_581' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_581)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H9.16667C9.40278 2.5 9.60069 2.57986 9.76042 2.73958C9.92014 2.89931 10 3.09722 10 3.33333C10 3.56944 9.92014 3.76736 9.76042 3.92708C9.60069 4.08681 9.40278 4.16667 9.16667 4.16667H4.16667V15.8333H15.8333V10.8333C15.8333 10.5972 15.9132 10.3993 16.0729 10.2396C16.2326 10.0799 16.4306 10 16.6667 10C16.9028 10 17.1007 10.0799 17.2604 10.2396C17.4201 10.3993 17.5 10.5972 17.5 10.8333V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM15.8333 5.33333L8.66667 12.5C8.51389 12.6528 8.31944 12.7292 8.08333 12.7292C7.84722 12.7292 7.65278 12.6528 7.5 12.5C7.34722 12.3472 7.27083 12.1528 7.27083 11.9167C7.27083 11.6806 7.34722 11.4861 7.5 11.3333L14.6667 4.16667H12.5C12.2639 4.16667 12.066 4.08681 11.9062 3.92708C11.7465 3.76736 11.6667 3.56944 11.6667 3.33333C11.6667 3.09722 11.7465 2.89931 11.9062 2.73958C12.066 2.57986 12.2639 2.5 12.5 2.5H16.6667C16.9028 2.5 17.1007 2.57986 17.2604 2.73958C17.4201 2.89931 17.5 3.09722 17.5 3.33333V7.5C17.5 7.73611 17.4201 7.93403 17.2604 8.09375C17.1007 8.25347 16.9028 8.33333 16.6667 8.33333C16.4306 8.33333 16.2326 8.25347 16.0729 8.09375C15.9132 7.93403 15.8333 7.73611 15.8333 7.5V5.33333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
footer .link_wrap ul.sns {
    margin: 28px 0 0 0;
    display: flex;
    gap: 5px;
}
footer .link_wrap ul.sns li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #535353;
    background-repeat: no-repeat;
    background-position: center;
}
footer .link_wrap ul.sns li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='28' viewBox='0 0 15 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0247 15.7485L14.8034 10.6798H9.93445V7.39489C9.93445 6.01178 10.6109 4.66012 12.7897 4.66012H15V0.345772C15 0.345772 12.9942 0 11.075 0C7.07133 0 4.45202 2.42829 4.45202 6.82122V10.6798H0V15.7485H4.45202V28H9.93445V15.7485H14.0247Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.twitter a {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='22' viewBox='0 0 27 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.869 2.63108C26.0145 3.01399 25.0664 3.24867 24.137 3.40307C24.5737 3.32896 25.2223 2.54463 25.4781 2.22348C25.871 1.73559 26.2016 1.18594 26.3825 0.586877C26.4074 0.53747 26.4261 0.48189 26.3825 0.444835C26.3201 0.420132 26.2827 0.432486 26.239 0.45719C25.2036 1.00684 24.137 1.40209 23.0018 1.68618C22.9083 1.71088 22.8397 1.68618 22.7773 1.6306C22.6837 1.52561 22.5964 1.4268 22.4966 1.34651C22.0163 0.945084 21.5049 0.63011 20.931 0.395427C20.1701 0.0866345 19.3405 -0.0430555 18.5234 0.0125272C17.7313 0.0619341 16.9454 0.284264 16.2405 0.64864C15.5357 1.01302 14.8995 1.52561 14.4005 2.13702C13.8828 2.77314 13.4961 3.52041 13.3027 4.3171C13.1156 5.08291 13.1281 5.84253 13.2466 6.62069C13.2653 6.75038 13.2466 6.76892 13.1343 6.75039C8.68707 6.09575 5.00079 4.5209 2.01308 1.14271C1.8821 0.994489 1.81348 0.994483 1.70744 1.15505C0.397592 3.10045 1.03381 6.21926 2.668 7.75087C2.88631 7.95468 3.11086 8.15848 3.35412 8.34375C3.26679 8.36228 2.17525 8.24494 1.20846 7.75087C1.07747 7.67059 1.01509 7.71381 1.00261 7.86204C0.990139 8.07201 1.00261 8.26347 1.04004 8.49197C1.28953 10.4621 2.668 12.2839 4.55792 12.9942C4.78247 13.0868 5.03197 13.1671 5.26899 13.2103C4.83862 13.303 4.39575 13.3709 3.16698 13.2721C3.01105 13.2412 2.95491 13.3215 3.01105 13.4635C3.94042 15.9648 5.93638 16.7059 7.43334 17.132C7.63294 17.1691 7.83254 17.1691 8.03837 17.2123C8.0259 17.2308 8.01342 17.2308 8.00095 17.2493C7.50196 17.9966 5.78045 18.5586 4.98206 18.8365C3.52252 19.343 1.93822 19.5653 0.397588 19.4171C0.148093 19.38 0.0981965 19.3862 0.0295854 19.4171C-0.0390257 19.4603 0.0233579 19.5159 0.0982064 19.5776C0.410075 19.7814 0.72818 19.9605 1.05252 20.1396C2.03179 20.6522 3.05471 21.0598 4.1213 21.3563C9.63514 22.8632 15.8413 21.7577 19.9767 17.6878C23.2264 14.4887 24.3678 10.0792 24.3678 5.66961C24.3678 5.49669 24.5737 5.40405 24.6984 5.31141C25.5467 4.68148 26.2266 3.92802 26.8565 3.0881C27 2.89665 27 2.7299 27 2.66197V2.63727C27 2.56933 27 2.58786 26.8877 2.63727L26.869 2.63108Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 0V24H17.2754L8.72461 11.9175V24H0V0H8.72461L17.2754 12.5683V0H26Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.daum a {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5938 0.00418645H0V27H12.5938C19.9968 27 26 20.9548 26 13.5C26 6.04521 19.9968 0 12.5938 0V0.00418645ZM12.8563 18.3538H8.332V8.6504H12.8563C15.5183 8.6504 17.6722 10.8235 17.6722 13.5C17.6722 16.1765 15.5142 18.3496 12.8563 18.3496V18.3538Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .info_wrap .info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin: 0 0 20px 0;
}
footer .info_wrap .info ul li {
    position: relative;
}
footer .info_wrap .info ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}
footer .info_wrap .info ul:last-child:before {
    display: none;
}
footer .info_wrap .copyright {
    margin: 70px 0 0 0;
}
@media screen and (max-width:1024px) {
    footer {
        margin: 117px 0 0 0;
        background-color: #2D2D2D;
        color: rgba(255,255,255,0.8);
        position: relative; /* top정렬의 기준 */
    }
    footer .wrapper {
        padding: 80px 0 82px 0;
        display: block;
    }
    footer .link_wrap ul.link li {
        margin: 0 0 5px 0;
    }
    footer .link_wrap ul.link {
        display: none;
    }
    footer .link_wrap ul.sns {
        margin: 0;
    }
    footer .info_wrap {
        margin: 38px 0 0 0;
    }
    footer .info_wrap .info ul {
        margin: 0 0 10px 0;
    }
    footer .info_wrap .info ul li {
        position: relative;
    }
    footer .info_wrap .info ul::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20px;
        width: 1px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    footer .info_wrap .info ul:first-child:before {
        display: none;
    }
    footer .info_wrap .copyright {
        margin: 70px 0 0 0;
    }
}